{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }

    textarea {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
        resize: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                <div class="col-md-12">
                    <div class="text-center">
                        <div class="text-center w-50 m-auto" style="margin-bottom: 10px!important;">
                            <u class="mb-15">Emergency Operations</u>
                        </div>
    
                        <strong>Description</strong>
                        {% for i in emergency %}
                            <li>{{ i.level_of_care }}</li>
                        {% endfor %}
    
                        <div class="form-group">
                            <a href="{% url 'emergency_operations' id %}" class="btn btn-success mt-5">Add Another Emergency Operations</a>
                            <a href="{% url 'total_call_costing' id %}" class="btn btn-success mt-5">Next</a>   
                        </div>
                    </div>
                    
                </div>

                

            </div>
           
        </div>
    </div>
</div>


{% endblock %}