{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            {{ form.errors }}
            <form method="POST" action="{% url 'electronic_invoice_details' id %}">
                {% csrf_token %}
                <div class="row shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>
                                Invoice Details
                            </h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group text-center  m-auto mb-5">
                            <label for="run_id_or_reference">Run ID/ Reference</label>
                            {{ form.run_id_or_reference }}
                        </div>

                        <div class="form-group text-center  m-auto mb-5">
                            <label for="transaction">Transaction</label>
                            {{ form.transaction }}
                        </div>

                        <div class="form-group text-center   m-auto mb-5">
                            <label for="invoice">Invoice</label>
                                {{ form.invoice }}
                        </div>

                        <div class="form-group text-center   m-auto mb-5">
                            <label for="quote_invoice_amount">Quote / Invoice Amount</label>
                                {{ form.quote_invoice_amount }}
                        </div>

                        <div class="form-group text-center   m-auto mb-5">
                            <label for="amount_received">Amount_received</label>
                                {{ form.amount_received }}
                        </div>

                        <div class="form-group text-center  m-auto mb-5" style="margin-bottom: 5px!important;">
                            <label for="amount_outstanding">Amount outstanding</label>
                                {{ form.amount_outstanding }}
                        </div>

                        <div class="form-group text-center m-auto">
                            <button type="submit" class="btn btn-success mt-5">Next</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var  id_quote_invoice_amount = document.getElementById('id_quote_invoice_amount')
    var  id_amount_received = document.getElementById('id_amount_received')
    var  id_amount_outstanding = document.getElementById('id_amount_outstanding')

    id_amount_received.addEventListener('keyup', (e)=>{
        var first_amount = id_quote_invoice_amount.value;
        var second_value = id_amount_received.value; 
        id_amount_outstanding.value = parseInt(first_amount)-parseInt(second_value);
    })

</script>

<script>
    window.addEventListener('load', (e)=>{
        document.getElementById('id_amount_outstanding').readOnly = true;
    })
</script>



{% endblock %}