{% extends '../base.html' %} {% load static %} {% block content %}


<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    textarea {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
        resize: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Service request and Risk level options</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'event_service_details' id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="initial_receiver_of_goods" class="col-form-label">Service Request Option</label>
                                            <input type="text" class="form-control" required name="service_req" id="service_req">
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Save" style="background-color: red!important;">
                                    </form>

                                    <form method="POST" action="{% url 'event_service_details' id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="initial_receiver_of_goods" class="col-form-label">Risl Level Option</label>
                                            <input type="text" class="form-control" required name="risk_level" id="risk_level">
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Save" style="background-color: red!important;">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{ form.errors }}
            <form method="POST" action="{% url 'event_service_details' id %}">
                {% csrf_token %}
                <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                    <div class="col-md-12">
                        <div class="mb-5">
                            <h3>Service Details</h3>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="service_request">Service Request</label> {{ form.service_request }}
                        </div>

                        <div class="form-group">
                            <label for="risk_lvl">Risk Level</label> {{ form.risk_lvl }}
                        </div>

                        <div class="form-group">
                            <label for="evnt_name">Event Name / Reference</label> {{ form.evnt_name }}
                        </div>

                        <div class="form-group">
                            <label for="special_notes">Special Notes?</label>
                            <input type="checkbox" name="special_notes" id="special_notes">
                        </div>


                        <div class="form-group">
                            <input type="checkbox" name="main_form" id="main_form" required>
                            <input type="submit" class="btn btn-primary" value="Next" style="background-color: red!important;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}