{% extends '../base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'assets/css/property_report.css' %}">

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}

            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Get Membership</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="data-table" class="display table">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Validity Confirmation</th>
                                    <th>Valid Till</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in packages %}
                                <tr class="text-center">

                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.p_name }}</td>
                                    <td class="fa-zar">{{ i.p_price }}</td>
                                    <td>{{ i.description }}</td>

                                    {% if i.is_valid == 'Date will be declared' %}
                                    <td><span class="custom-badge status-blue">{{ i.is_valid }}</span></td>
                                    {% elif i.is_valid == 'Date Declared' %}
                                    <td><span class="custom-badge status-orange">{{ i.is_valid }}</span></td>
                                    {% elif i.is_valid == 'Constant' %}
                                    <td><span class="custom-badge status-green">{{ i.is_valid }}</span></td>
                                    {% else %}
                                    <td><span class="custom-badge status-red">No Declaration</span></td>
                                    {% endif %}

                                    <td>{{ i.valid_till }}</td>

                                    {% if i.status == 'Active' %}
                                    <td><span class="custom-badge status-green">{{ i.status }}</span></td>
                                    {% else %}
                                    <td><span class="custom-badge status-grey">{{ i.status }}</span></td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url 'payment' i.id %}">Get Membereship</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card-->
            </div>
        </div>
    </div>
</div>

{% endblock %}