{% extends '../base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'assets/css/property_report.css' %}">
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Inspection Report</h3>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>
            <div class="table-responsive">
                <table id="data-table" class="display table text-center">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Inspected By</th>
                            <th>Inspection For(If any)</th>
                            <th>Inspection Type</th>
                            <th>Inspection Output</th>
                            <th>Inspection Details</th>
                            <th>Inspection Date</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in inspection_reports %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.inspector.first_name|title }} {{ i.inspector.last_name|title }}</td>
                            <td>
                                {% if i.inspection_for %}
                                <a href="{% url 'profile' i.inspection_for.id %}">
                                    {{ i.inspection_for.first_name|title }} {{ i.inspection_for.last_name|title }}
                                </a>
                                {% else %}
                                No User
                                {% endif %}
                            </td>
                            <td>{{ i.inspection_type }}</td>
                            <td>
                                {% if i.inspection_output == 'Good' %}
                                 <span class="custom-badge status-green">{{ i.inspection_output }}</span>
                                {% else %}
                                <span class="custom-badge status-red">{{ i.inspection_output }}</span>
                                {% endif %}
                            </td>
                            <td>{{ i.inspection_detail }}</td>
                            <td>{{ i.created }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="{% url 'edit_inspection' i.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fas fa-edit text-hover-primary mr-2"></i></a>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <a href="{% url 'del_inspection' i.id %}" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}