{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">{{title}} Report</h3>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>
            {% if request.user.is_user %}
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2"><a href="{% url 'create_order'%}" class="btn btn-facebook">New Order</a></div>
            </div>
            {% endif %}
            <div class="table-responsive">
                <table id="data-table" class="display table text-center">
                    <thead>
                        <tr class="text-center" id="my_table">
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for d in data %}
                        <tr class="text-center">

                            <td>{{d.name}}</td>
                            <td>{{d.contact}}</td>
                            <td>{{d.email}}</td>
                            <td>{{d.start_datetime}}</td>
                            <td>{{d.end_datetime}}</td>
                            <td>{{d.from_loc}}</td>
                            <td>{{d.location}}</td>

                            <td>
                                <div style="display: flex;">

                                    <a href="" data-toggle="tooltip" data-placement="top" title="Details"><i
                                                class="fas fa-clipboard-list text-hover-primary mr-2"></i></a>


                                    <a href="" data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fas fa-edit text-hover-primary mr-2"></i></a>


                                    <a href="" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="contentArea"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}