{% extends '../base.html' %} {% load static %} {% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            <form class="form" id="kt_form"  enctype="multipart/form-data">
                {% csrf_token %} {{form.errors}}
                <!--end::Form-->
                <div class=" card card-custom card-sticky " id="kt_page_sticky_card ">
                    <div class="card-header ">
                        <div class="card-title ">
                            <h3 class="card-label">Stock Request Details</h3>
                        </div>
                    </div>
                    <div class="card-body ">

                        <div class="form-row ">
                            <div class="form-group col-md-6 mb-0 ">
                                <label for="receiver">Reciver Email</label>
                                <input type="email " maxlength="100 " class="textinput textInput form-control " id="receiver" name="receiver" value="{{data.receiver}}" readonly>
                            </div>
                            <div class="form-group col-md-6 mb-0 ">
                                <label for="subject">Email Subject</label>
                                <input type="text" maxlength="100 " class="textinput textInput form-control " id="subject" name="subject" value="{{data.subject}}" readonly>
                            </div>
                            <div class="form-group col-md-6 mt-4">
                                <label for="attachment">Attachment: </label>
                                <a href="{{ data.attachment.url }}">{{ data.attachment.url }}</a>

                            </div>

                            <div class="form-group col-md-6 mb-0 ">
                                <label for="message_body">Message</label>
                                <textarea class="form-control " id="message_body" name="message_body" cols="82 " rows="10 " style="resize: none; " readonly>{{data.message_body}}</textarea>
                            </div>



                        </div>

                    </div>
                    <!--end::Card-->
            </form>
            <!-- <div>
                <h5>Enter Delivery Location: </h5>
                <input type="text " class="bksearch ">
                <div class="bklist ">
                </div>
            </div> -->

            </div>
        </div>
    </div>

    {% endblock %}