{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Assigned Task Report</h3>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info" id="month" onclick="data_caller(30)">Last 30 days</button>
                        <button class="btn btn-info" id="week" onclick="data_caller(7)">Last 7 days</button>
                        <button class="btn btn-info" id="td" onclick="data_caller(0)">Today</button>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>

            <input type="text" id="user_id" value="{{request.user.id}}">
            <div class="table-responsive">
                <table id="my_table" class="display table text-center">
                    <thead>
                        <tr class="text-center">
                            <th>Create On</th>
                            <th>Receiver Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Attachment</th>
                            <th class="text-left">Action</th>

                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div id="contentArea"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        endpoint1 = '/api/stock/request/today/'
        $.ajax({
            method: "GET",
            url: endpoint1,
            success: function(data) {
                if (data.length === 0) {
                    alert("Nothing to show");
                } else {
                    // style="background-color: brown;"
                    $.each(data, function(key, value) {
                        creation_date = moment(value.created_on).format('lll');
                        if (value.attachment != '' || value.attachment != null) {
                            at = "available"
                        } else {
                            at = "No attachment"
                        }
                        act = '<div class="row"><div class="col-md-2"><a href="/stock/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/api/stock/request/delete/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a></div></div>'
                        if (value.requested === true) {
                            values = '<tr style="background-color: #c9f7f5;">' + '<td>' + creation_date + '</td><td>' + value.receiver + '</td> <td>' + value.subject + '</td> <td>' + value.message_body + '</td> <td> <a target="_blank" href="' + value.attachment + '">Document</a> </td><td>' + act + '</td> </tr>'
                        } else {
                            values = '<tr>' + '<td>' + creation_date + '</td><td>' + value.receiver + '</td> <td>' + value.subject + '</td> <td>' + value.message_body + '</td> <td> <a target="_blank" href="' + value.attachment + '">Document</a> </td><td>' + act + '</td> </tr>'
                        }
                        console.log(values);
                        $('#my_table').append(values);
                    });
                }
            }
        });
    });


    function clear_table() {
        $('#my_table > tbody').empty();
    }
</script>

<script>
    endpoint = ''
    endpoint1 = '/api/stock/request/today/'
    endpoint2 = '/api/stock/request/week/'
    endpoint3 = '/api/stock/request/month/'
    endpoint4 = '/api/stock/requested/'
    endpoint5 = '/api/stock/request/canceled/'
    endpoint6 = '/api/stock/request/delete/'

    function data_caller(day) {
        if (day === 30) {
            endpoint = endpoint3
        } else if (day === 7) {
            endpoint = endpoint2
        } else if (day === 0) {
            endpoint = endpoint1

        }

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                $('#my_table > tbody').empty();

                $.each(data, function(key, value) {

                    if (value === 'nothing') {
                        alert("Nothing to show for this user");
                    } else {

                        if (admin === 'True') {
                            act = '<div class="row"><div class="col-md-2"><a href="#" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/task/update/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/task/delete/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a></div></div>'
                        } else if (user_id === value.dispatch.id) {
                            act = '<div class"text-center"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div>'
                        }
                        if (value.task_type === 'sch') {
                            console.log('a');
                            route = '<div class"text-center"><a href="/track/schedule/' + value.scheduled_task.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-route text-hover-primary mr-2"></i></a></div>'

                        } else if (value.task_type === 'ambr') {
                            console.log('b');
                            route = '<div class"text-center"><a href="/ambulance/track/' + value.ambulance_task.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-route text-hover-primary mr-2"></i></a></div>'

                        } else if (value.task_type === 'pan') {
                            console.log('c');
                            route = '<div class="row"><div class="col-md-2"><a href="/ambulance/track/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-route text-hover-primary mr-2"></i></a></div></div>'

                        }

                        $('#my_table').append('<tr>' + '<td>' + value.dispatch.first_name + ' ' + value.dispatch.last_name + '</td> <td>' + value.dispatch.contact + '</td> <td>' + value.task_title + '</td> <td>' + value.task_desc + '</td> <td>' + route + '</td> <td>' + act + '</td> </tr>');
                    }
                });
            }
        });
    }
</script>
{% endblock %}