{% extends '../base.html' %} {% load static %} {% block content %}
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
    
    .tab button:hover {
        background-color: #ddd;
    }
    
    .tab button.active {
        background-color: #ccc;
    }
    
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">{{title}}</h3>
                    </div>
                </div>
            </div>

            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}

            <div class="tab">
                <button class="tablinks" onclick="filtering(event, 'Daily')">Daily</button>
                <button class="tablinks" onclick="filtering(event, 'Monthly')">Monthly</button>
                <button class="tablinks" onclick="filtering(event, 'Weekly')">Weekly</button>
            </div>

            <div id="Daily" class="tabcontent">
                <h3>Daily</h3>
                <div class="table-responsive">
                    <table id="data-table" class="display table text-center">
                        <thead>
                            <tr class="text-center" id="my_table">
                                <th>Creation Date</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Task Title</th>
                                <th>Task Type</th>
                                <th>Task Description</th>
                                <th class="text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- daily -->
                            {% for i in daily %}
                            <tr class="text-center" id="monthly">
                                <td>{{ i.created_on }}</td>
                                <td> {{i.dispatch.first_name}} {{i.dispatch.last_name}}</td>
                                <td>{{ i.dispatch.contact }}</td>
                                <td>{{ i.task_title }}</td>
                                <td>
                                    {% if i.task_type == 'sch' %} Schedule Request {% elif i.task_type == 'ambr' %} Ambulance Request {% elif i.task_type == 'HT' %} Hospital Transfer {%else%} Panic Request {%endif%}
                                </td>
                                <td> {{i.task_desc}}</td>
                                <td>
                                    <div style="display: flex;" class="text-center">

                                        {% if i.task_type == "sch" %} {% if i.scheduled_task %}
                                        <a href="{% url 'schedule_details' i.scheduled_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% elif i.task_type == "ambr" %} {% if i.ambulance_task %}
                                        <a href="{% url 'AmbulanceRequestDetail' i.ambulance_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% elif i.task_type == "HT" %} {% if i.hos_tra %}
                                        <a href="{% url 'details_hospital_request' i.hos_tra.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% else %} {% if i.panic_task %}
                                        <a href="{% url 'check_panic_requests_location' i.panic_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% endif %} {% if request.user.is_superuser %}
                                        <a href="{% url 'update_task' i.id %}">
                                            <i class="fas fa-edit text-hover-primary mr-2"></i>
                                        </a>

                                        <a href="{% url 'delete_task' i.id %}">
                                            <i class="fas fa-trash-alt text-hover-primary mr-2"></i>
                                        </a> {% else %}
                                        <a href="{% url 'transfer_task' i.id %}">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a> {% endif %}


                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="Monthly" class="tabcontent">
                <h3>Monthly</h3>
                <div class="table-responsive">
                    <table id="data-table" class="display table text-center">
                        <thead>
                            <tr class="text-center" id="my_table">
                                <th>Creation Date</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Task Title</th>
                                <th>Task Type</th>
                                <th>Task Description</th>
                                <th class="text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- daily -->
                            {% for i in monthly %}
                            <tr class="text-center" id="monthly">
                                <td>{{ i.created_on }}</td>
                                <td> {{i.dispatch.first_name}} {{i.dispatch.last_name}}</td>
                                <td>{{ i.dispatch.contact }}</td>
                                <td>{{ i.task_title }}</td>
                                <td>
                                    {% if i.task_type == 'sch' %} Schedule Request {% elif i.task_type == 'ambr' %} Ambulance Request {%else%} Panic Request {%endif%}
                                </td>

                                <td> {{i.task_desc}}</td>
                                <td>
                                    <div style="display: flex;" class="text-center">

                                        {% if i.task_type == "sch" %} {% if i.scheduled_task %}
                                        <a href="{% url 'schedule_details' i.scheduled_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% elif i.task_type == "ambr" %} {% if i.ambulance_task %}
                                        <a href="{% url 'AmbulanceRequestDetail' i.ambulance_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>{% endif %} {% else %} {% if i.panic_task %}
                                        <a href="{% url 'check_panic_requests_location' i.panic_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>{% endif %} {% endif %} {% if request.user.is_superuser %}
                                        <a href="{% url 'update_task' i.id %}">
                                            <i class="fas fa-edit text-hover-primary mr-2"></i>
                                        </a>

                                        <a href="{% url 'delete_task' i.id %}">
                                            <i class="fas fa-trash-alt text-hover-primary mr-2"></i>
                                        </a> {% else %}
                                        <a href="{% url 'transfer_task' i.id %}">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a> {% endif %}


                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="Weekly" class="tabcontent">
                <h3>Weekly</h3>
                <div class="table-responsive">
                    <table id="data-table" class="display table text-center">
                        <thead>
                            <tr class="text-center" id="my_table">
                                <th>Creation Date</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Task Title</th>
                                <th>Task Type</th>
                                <th>Task Description</th>
                                <th class="text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- daily -->
                            {% for i in weekly %}
                            <tr class="text-center" id="monthly">
                                <td>{{ i.created_on }}</td>
                                <td> {{i.dispatch.first_name}} {{i.dispatch.last_name}}</td>
                                <td>{{ i.dispatch.contact }}</td>
                                <td>{{ i.task_title }}</td>
                                <td>
                                    {% if i.task_type == 'sch' %} Schedule Request {% elif i.task_type == 'ambr' %} Ambulance Request {%else%} Panic Request {%endif%}
                                </td>
                                <td> {{i.task_desc}}</td>
                                <td>
                                    <div style="display: flex;" class="text-center">

                                        {% if i.task_type == "sch" %} {% if i.scheduled_task %}
                                        <a href="{% url 'schedule_details' i.scheduled_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>
                                        {% endif %} {% elif i.task_type == "ambr" %} {% if i.ambulance_task %}
                                        <a href="{% url 'AmbulanceRequestDetail' i.ambulance_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>{% endif %} {% else %} {% if i.panic_task %}
                                        <a href="{% url 'check_panic_requests_location' i.panic_task.id %}">
                                            <i class="fas fa-clipboard-list text-hover-primary mr-2"></i>
                                        </a>{% endif %} {% endif %} {% if request.user.is_superuser %}
                                        <a href="{% url 'update_task' i.id %}">
                                            <i class="fas fa-edit text-hover-primary mr-2"></i>
                                        </a>

                                        <a href="{% url 'delete_task' i.id %}">
                                            <i class="fas fa-trash-alt text-hover-primary mr-2"></i>
                                        </a> {% else %}
                                        <a href="{% url 'transfer_task' i.id %}">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a> {% endif %}


                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function filtering(evt, filter) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(filter).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>


<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}