{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Schedules</h3>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-5">
                        <button class="btn btn-info">Last 30 days</button>
                        <button class="btn btn-info">Last 7 days</button>
                        <button class="btn btn-info">Yestarday</button>
                        <button class="btn btn-info">Today</button>
                    </div>

                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>
            {% if request.user.is_user %}
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2"><a href="{% url 'create_order'%}" class="btn btn-facebook">New Order</a></div>
            </div>
            {% endif %}
            <div class="table-responsive">
                <table id="data-table" class="display table text-center">
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Status</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in data %}
                        <tr class="text-center">
                            <td>{{obj.name}}</td>
                            <td>{{obj.contact}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.start_datetime}}</td>
                            <td>{{obj.end_datetime}}</td>
                            <td>{{obj.from_loc}}</td>
                            <td>{{obj.location}}</td>
                            <td>
                                {% if obj.status == 'Pending'%}
                                <p class="alert alert-info">{{obj.status}}</p>
                                {% elif obj.status == 'Approved'%}
                                <p class="alert alert-success">{{obj.status}}</p>
                                {% else %}
                                <p class="alert alert-danger">{{obj.status}}</p>
                                {% endif %}
                            </td>
                            <!-- <td>
                                <div class="btn-group">
                                    <button id="status" type="button" style="background-color: rgb(19, 180, 180); border:none" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        status
                                    </button>
                                    <div class="dropdown-menu">
                                        <a id="accept" class="dropdown-item">Accept</a>
                                        <a id="decline" class="dropdown-item">Decline</a>
                                    </div>
                                </div>
                            </td> -->
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Details"><i
                                                class="fas fa-clipboard-list text-hover-primary mr-2"></i></a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fas fa-edit text-hover-primary mr-2"></i></a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="" data-toggle="tooltip" title="Delete"><i
                                                class="fas fa-trash-alt text-hover-primary mr-2"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="contentArea"></div>
            </div>
        </div>
    </div>
</div>


<!-- <script>
    const accept = document.getElementById('accept');
    const decline = document.getElementById('decline');
    const status = document.getElementById('status');

    accept.addEventListener('click', event => {
        console.log('dsjhgdujhsd');
        status.innerHTML = "Accept";
    });

    decline.addEventListener('click', event => {
        console.log('dsjhgdujhsd');
        status.innerHTML = "Decline";
    });
</script> -->

<script>
    $(document).read(function() {

    });
</script>
{% endblock %}