{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }

    textarea {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
        resize: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Vehicle Call Assign</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form method="POST" action="{% url 'vehicle_maintenance_totals' id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="p_name" class="col-form-label">Vehicle Call Assign Name:</label>
                                        <input type="text" class="form-control" required name="v_name"  id="v_name">
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Save" style="background-color: red!important;">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>

            {{ form.errors }}
            <form action="{% url 'vehicle_maintenance_totals' id %}" method="POST">
                {% csrf_token %}
                <div class="row shadow p-3 mb-5 bg-white rounded">
                
                    <div class="form-group">
                        <h3>Vehicle Maintenance Totals</h3>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="totals">Totals</label>
                            <input class="form-control" type="number" name="totals" id="totals" value="{{ totals }}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="vehicle_call_assign">Vehicle Call Assign</label>
                            {{ form.vehicle_call_assign }}
                        </div>

                        <div class="form-group">
                            <label for="year">Year</label>
                            {{ form.year }}
                        </div>

                        <div class="form-group">
                            <label for="make">Make</label>
                            {{ form.make }}
                        </div>

                        <div class="form-group">
                            <label for="model">Model</label>
                            {{ form.model }}
                        </div>

                        <div class="form-group">
                            <label for="vin">VIN</label>
                            {{ form.vin }}
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="main_form" id="main_form" required>
                            <input type="submit" class="btn btn-primary" style="background-color: red!important;" value="Next">
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>




{% endblock %}