{% extends '../base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'assets/css/property_report.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
    
    .half {
        color: orange;
    }
</style>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-8">
                    <!--begin::Nav Panel Widget 1-->
                    <div class="card card-custom gutter-b card-stretch card-shadowless">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Nav Tabs-->
                            <ul class="dashboard-tabs nav nav-pills nav-danger row row-paddingless m-0 p-0 flex-column flex-sm-row" role="tablist">
                                <!--begin::Item-->
                                <li class="nav-item d-flex col-sm flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_1">
                                        <span class="nav-icon py-2 w-auto">
                                            <span class="svg-icon svg-icon-3x">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path
                                                            d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z"
                                                            fill="#000000" />
                                                        <rect fill="#000000" opacity="0.3"
                                                            transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)"
                                                            x="16.3255682" y="2.94551858" width="3" height="18"
                                                            rx="1" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="nav-text font-size-lg py-2 font-weight-bold text-center">Total request of patients <br>{{ ambulance_requests_monthly }}</span>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <li class="nav-item d-flex col-sm flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_1">
                                        <span class="nav-icon py-2 w-auto">
                                            <span class="svg-icon svg-icon-3x">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path
                                                            d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z"
                                                            fill="#000000" />
                                                        <rect fill="#000000" opacity="0.3"
                                                            transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)"
                                                            x="16.3255682" y="2.94551858" width="3" height="18"
                                                            rx="1" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="nav-text font-size-lg py-2 font-weight-bold text-center">Todays request of patients <br>{{ ambulance_requests_daily }}</span>
                                    </a>
                                </li>
                                <!--begin::Item-->
                                <li class="nav-item d-flex col-sm flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_2">
                                        <span class="nav-icon py-2 w-auto">
                                            <span class="svg-icon svg-icon-3x">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" x="4" y="4" width="7" height="7"
                                                            rx="1.5" />
                                                        <path
                                                            d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                                            fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Total Customers <br>{{ total_customers }}</span>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item d-flex col-sm flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                    <a class="nav-link active border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_3">
                                        <span class="nav-icon py-2 w-auto">
                                            <span class="svg-icon svg-icon-3x">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Movie-Lane2.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3"
                                                            height="16" rx="1.5" />
                                                        <rect fill="#000000" x="8" y="9" width="3" height="11"
                                                            rx="1.5" />
                                                        <rect fill="#000000" x="18" y="11" width="3" height="9"
                                                            rx="1.5" />
                                                        <rect fill="#000000" x="3" y="13" width="3" height="7"
                                                            rx="1.5" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Total Dispatch <br>{{ total_dispatch }}</span>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item d-flex col-sm flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                    <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_4">
                                        <span class="nav-icon py-2 w-auto">
                                            <span class="svg-icon svg-icon-3x">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                    height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3"
                                                            height="16" rx="1.5" />
                                                        <rect fill="#000000" x="8" y="9" width="3" height="11"
                                                            rx="1.5" />
                                                        <rect fill="#000000" x="18" y="11" width="3" height="9"
                                                            rx="1.5" />
                                                        <rect fill="#000000" x="3" y="13" width="3" height="7"
                                                            rx="1.5" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Todays panic requests <br>{{ panic_requests_daily }}</span>
                                    </a>
                                </li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Nav Tabs-->
                            <!--begin::Nav Content-->
                            <div class="tab-content m-0 p-0">
                                <div class="tab-pane active" id="forms_widget_tab_1" role="tabpanel"></div>
                                <div class="tab-pane" id="forms_widget_tab_2" role="tabpanel"></div>
                                <div class="tab-pane" id="forms_widget_tab_3" role="tabpanel"></div>
                                <div class="tab-pane" id="forms_widget_tab_4" role="tabpanel"></div>
                                <div class="tab-pane" id="forms_widget_tab_6" role="tabpanel"></div>
                            </div>
                            <!--end::Nav Content-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--begin::Nav Panel Widget 1-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Engage Widget 8-->
                    <div class="card card-custom gutter-b card-stretch card-shadowless">
                        <div class="card-body p-0 d-flex">
                            <div class="d-flex align-items-start justify-content-start flex-grow-1 bg-light-warning p-8 card-rounded flex-grow-1 position-relative">
                                <div class="d-flex flex-column align-items-center flex-grow-1 h-100">
                                    <div class="text-center">
                                        <h4 class="text-warning font-weight-bolder">Companies Rating</h4>
                                        <div style="display: block;" class="top mt-7">
                                            <!-- 1star -->
                                            {% if star0_5 is True %}
                                            <i class="fa fa-star-half-o fa-2x half"></i>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %} {% if star1_5 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <i class="fa fa-star-half-o fa-2x half"></i>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %} {% if star2_5 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <i class="fa fa-star-half-o fa-2x half"></i>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %} {% if star3_5 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <i class="fa fa-star-half-o fa-2x half"></i>
                                            <span class="fa fa-star fa-2x"></span> {% endif %} {% if star4_5 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <i class="fa fa-star-half-o fa-2x half"></i> {% endif %} {% if star1 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %}
                                            <!-- 2star -->
                                            {% if star2 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %}
                                            <!-- 3star -->
                                            {% if star3 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x fa-2x"></span> {% endif %}
                                            <!-- 4star -->
                                            {% if star4 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x"></span> {% endif %}
                                            <!-- 5star -->
                                            {% if star5 is True %}
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span>
                                            <span class="fa fa-star fa-2x checked"></span> {% endif %}
                                        </div>
                                        <span style="color: rgb(233, 170, 87);">
                                            {% for i in average_rating %}
                                            {{ i }} out of 5.0
                                            {% endfor %}
                                        </span>

                                    </div>

                                </div>
                                <div class="position-absolute right-0 bottom-0 mr-5 overflow-hidden">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Engage Widget 8-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-8">
                    <!--begin::Charts Widget 2-->
                    <div class="card card-custom bg-gray-100 gutter-b card-stretch card-shadowless">
                        <!--begin::Header-->
                        <div class="card-header h-auto border-0">
                            <!--begin::Title-->
                            <div class="card-title py-5">
                                <h3 class="card-label">
                                    <span class="d-block text-dark font-weight-bolder">Memberships</span>
                                    <span class="d-block text-dark-50 mt-2 font-size-sm">Has validity</span>
                                </h3>
                            </div>
                            <!--end::Title-->
                            <!--begin::Toolbar-->

                            <!--end::Toolbar-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Chart-->
                            <div class="card card-custom card-stretch gutter-b card-shadowless bg-light">
                                <!--begin::Header-->
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body py-0" style="height: 400px;overflow-y: scroll;">
                                    <div class="table-responsive">
                                        <table class="table-hover display table table-separate table-head-custom table-checkable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Membership Holder Name</th>
                                                    <th scope="col">Package Name</th>
                                                    <th scope="col">Package Price</th>
                                                    <th scope="col">Package Validity</th>
                                                    <th scope="col">Package End Date</th>
                                                    <th scope="col">Package Membership Duration</th>
                                                    <th scope="col">Package Status</th>
                                                    <th scope="col">Membership Payment Token</th>
                                                    <th scope="col">Membership Taken Date</th>
                                                    <th scope="col">Membership End Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in membership %} {% if i.user.has_membership %}
                                                <tr>
                                                    <td>{{ i.user.first_name|title }} {{ i.user.last_name|title }}</td>
                                                    <td>{{ i.package.p_name|title }}</td>
                                                    <td>R{{ i.package.p_price }}</td>
                                                    <td>{{ i.package.is_valid }}</td>
                                                    <td>{{ i.package.valid_till }}</td>
                                                    <td>{{ i.package.package_membership_duration }} days</td>
                                                    <td>{{ i.package.status }}</td>
                                                    <td>{{ i.token }}</td>
                                                    <td>{{ i.membership_date|date }}</td>
                                                    <td>{{ i.membership_end|date }}</td>
                                                </tr>
                                                {% endif %} {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Chart-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Charts Widget 2-->
                </div>
                <div class="col-xl-4">
                    <!--begin::List Widget 2-->
                    <div class="card card-custom bg-light-success gutter-b card-stretch card-shadowless">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-success">Deactivated Users</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2" style="height: 400px; overflow-y: scroll;">
                            <!--begin::Item-->
                            {% for i in deactivated_users %}
                            <div class="d-flex align-items-center mb-10">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-40 symbol-light-white mr-5">
                                    <div class="symbol-label">
                                        <img src="{{ i.imageURL }}" class="h-75 align-self-end" alt="" />
                                    </div>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <a href="{% url 'profile' i.id %}" class="text-dark text-hover-primary mb-1 font-size-lg">{{ i.first_name|title }} {{ i.last_name|title }}</a>
                                    <span class="text-muted">{{ i.contact }}</span>
                                </div>
                                <div class="card-toolbar">
                                    <div class="dropdown dropdown-inline">
                                        <a href="#" class="btn btn-clean btn-hover-success btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ki ki-bold-more-ver text-success"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                            <!--begin::Naviigation-->
                                            <ul class="navi">
                                                <li class="navi-header font-weight-bold py-5">
                                                    <a href="{% url 'activate' i.id %}">Activate</a>
                                                </li>
                                            </ul>
                                            <!--end::Naviigation-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Text-->
                            </div>
                            {% endfor %}
                            <!--end::Item-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 2-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-8">
                    <!--begin::Advance Table Widget 2-->
                    <div class="card card-custom gutter-b card-stretch card-shadowless bg-light">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Hospital Transfers History of patients</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Monthly</span>
                            </h3>

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2 pb-0 mt-n3">

                            <div class="card-body">
                                <!--begin: Datatable-->
                                <!--begin: Datatable-->
                                <div class="table-responsive" style="height: 350px; overflow-y: scroll;">
                                    <table class="table table-bordered table-hover table-checkable" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Requested By</th>
                                                <th>Transfer Type</th>
                                                <th>Transfer Reason</th>
                                                <th>Priority</th>
                                                <th>Current Hospital</th>
                                                <th>Current Address</th>
                                                <th>Target Hospital</th>
                                                <th>Target Address</th>
                                                <th>Date</th>
                                                <th>Task Assign</th>
                                                <th>Tranferred</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {% for i in hos_trans %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <a href="{% url 'profile' i.requested_by.id %}">
                                                    {{ i.requested_by.first_name|title }} {{ i.requested_by.last_name|title }}
                                                </a>
                                                </td>
                                                <td>{{ i.transfer_speed }}</td>
                                                <td style="word-break: break-all;">{{ i.reason }}</td>
                                                <td>{{ i.priority }}</td>
                                                <td>{{ i.current_hos }}</td>
                                                <td>{{ i.current_add }}</td>
                                                <td>{{ i.target_hos }}</td>
                                                <td>{{ i.target_add }}</td>
                                                <td>{{ i.created_on }}</td>
                                                <td>{% if i.assigned %} Task assigned {% else %} Not assigned {% endif %}
                                                </td>
                                                <td>{% if i.completed %} transferred {% else %} not transferred {% endif %}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!--end: Datatable-->
                            </div>


                            <!-- </div> -->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Advance Table Widget 2-->
                </div>
                <div class="col-xl-4">
                    <!--begin::List Widget 5-->
                    <div class="card card-custom gutter-b card-stretch">
                        <!--begin::header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder">Customer with membership</h3>
                        </div>
                        <!--end::header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0" style="height: 350px; overflow-y: scroll;">
                            <!--begin::Item-->
                            {% for i in has_membership %}
                            <div class="d-flex align-items-center mb-6">
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 py-2">
                                    <a href="{% url 'profile' i.id %}" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">{{ i.first_name|title }} {{ i.last_name|title }}</a>
                                    <a href="#" class="text-muted font-weight-bold text-hover-primary">{{ i.contact }}</a>
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                            {% endfor %}
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 5-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-8">
                    <!--begin::Advance Table Widget 1-->
                    <div class="card card-custom card-stretch gutter-b card-shadowless bg-light">
                        <!--begin::Header-->
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Valid and Expired Memberships</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">
                                    Medics</span>
                            </h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body py-0">
                            <div class="table-responsive" style="height: 400px;overflow-y: scroll;">
                                <table class="table-hover display table table-separate table-head-custom table-checkable">
                                    <thead>
                                        <tr>
                                            <th scope="col"> valid/Expired </th>
                                            <th scope="col">Membership Holder Name</th>
                                            <th scope="col">Package Name</th>
                                            <th scope="col">Package Price</th>
                                            <th scope="col">Package Validity</th>
                                            <th scope="col">Package End Date</th>
                                            <th scope="col">Package Membership Duration</th>
                                            <th scope="col">Package Status</th>
                                            <th scope="col">Membership Payment Token</th>
                                            <th scope="col">Membership Taken Date</th>
                                            <th scope="col">Membership End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in membership %}
                                        <tr>
                                            <td>
                                                {% if i.user.has_membership %}
                                                <span class="custom-badge status-green">Valid </span> {% elif i.user.renew_membership %}
                                                <span class="custom-badge status-red">Expired</span> {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'profile' i.user.id %}">
                                            {{ i.user.first_name|title }} {{ i.user.last_name|title }}
                                            </a>
                                            </td>
                                            <td>{{ i.package.p_name|title }}</td>
                                            <td>R{{ i.package.p_price }}</td>
                                            <td>{{ i.package.is_valid }}</td>
                                            <td>{{ i.package.valid_till }}</td>
                                            <td>{{ i.package.package_membership_duration }} days</td>
                                            <td>{{ i.package.status }}</td>
                                            <td>{{ i.token }}</td>
                                            <td>{{ i.membership_date|date }}</td>
                                            <td>{{ i.membership_end|date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Advance Table Widget 1-->
                </div>
                <div class="col-xl-4">
                    <!--begin::List Widget 7-->
                    <div class="card card-custom card-stretch gutter-b card-shadowless bg-light-danger">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">Last 10 panic requests</h3>

                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0" style="height: 350px;overflow-y: scroll;">
                            <!--begin::Item-->
                            {% for i in recent_panics %}
                            <div class="d-flex align-items-center flex-wrap mb-8">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50 symbol-light mr-5">
                                    <span class="symbol-label">
                                        <img src="{{ i.panic_sender.imageURL }}" class="h-50 align-self-center"
                                            alt="" />
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">{{ i.panic_sender.first_name|title }} {{ i.panic_sender.last_name|title }}</a>
                                    <span class="text-muted font-weight-bold">{{ i.emergency_contact }}</span>
                                </div>
                                <!--end::Text-->
                                <a href="{% url 'check_panic_requests_location' i.id %}" class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">Details</a>
                            </div>
                            {% endfor %}
                            <!--end::Item-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 7-->
                </div>
            </div>
            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->


{% endblock %}