{% extends '../base.html' %} {% load static %} {% block content %}
<style>
    @media (min-width: 992px) {
        .content {
            padding: 35px;
        }
    }
    
    @media (max-width: 991.98px) {
        .content {
            padding: 35px;
        }
    }
    
    @media (min-width: 992px) {
        .header-fixed .wrapper {
            padding-top: 50px;
        }
    }
</style>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h2 class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">Profile</h2>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center flex-wrap">
                <!--begin::Button-->
                <a href="{% url 'register' %}" class="btn button-color btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2">
                    <span class="svg-icon svg-icon-lg">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path
                                    d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                    fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="d-none d-md-inline">New Member</span>
                </a>
                <!--end::Button-->

                <a href="{% url 'edit_profile_admin' id %}" class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2">
                    <span class="d-none d-md-inline">Edit Profile</span>
                </a>
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Details-->
                    <div class="d-flex mb-9">
                        {% for info in me %}
                        <!--begin: Pic-->
                        <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img src="{{ info.imageURL }}" alt="image" />
                            </div>
                            <div class="symbol symbol-50 symbol-lg-120 symbol-primary d-none">
                                <span class="font-size-h3 symbol-label font-weight-boldest">JM</span>
                            </div>
                        </div>
                        <!--end::Pic-->
                        <!--begin::Info-->

                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex justify-content-between flex-wrap mt-1">
                                <div class="d-flex mr-3">
                                    <a href="#" class="text-dark-75 text-hover-primary font-size-h5 font-weight-bold mr-3">{{ info.first_name|title }}</a>
                                    <a href="#">
                                        <i class="flaticon2-correct text-success font-size-h5"></i>
                                    </a>
                                </div>
                                <div class="my-lg-0 my-3">
                                    <a href="{% url 'dashboard' %}" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">Dashboard</a>
                                    <button type="button" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">DISPATCH</button>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Dispatch Contacts</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                                </div>
                                                {% for i in dispatch %}
                                                <div class="modal-body">
                                                    <img style="height: 30px; width: 30px;" src="{{ i.imageURL }}">
                                                    <a href="{% url 'profile' i.id %}">
                                                        <span class="font-weight-bold text-dark-50">{{ i.first_name|title }}({{ i.contact }})</span>
                                                    </a>
                                                    <div class="solid-separator"></div>
                                                </div>
                                                {% endfor %}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>













                                </div>
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex flex-wrap justify-content-between mt-1">
                                <div class="d-flex flex-column flex-grow-1 pr-8">
                                    <div class="d-flex flex-wrap mb-4">
                                        <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon2-new-email mr-2 font-size-lg"></i>{{ info.username }}</a>
                                        <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon2-calendar-3 mr-2 font-size-lg"></i>Admin</a>
                                        <a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
                                            <i class="flaticon2-placeholder mr-2 font-size-lg"></i>{{ info.address|title }}</a>
                                    </div>
                                    <span class="font-weight-bold text-dark-50">{{ info.quote }}</span>
                                </div>
                                <div class="d-flex align-items-center w-25 flex-fill float-right mt-lg-12 mt-8">

                                </div>
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                        {% endfor %}
                    </div>
                    <!--end::Details-->
                </div>
            </div>
            <!--end::Card-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-lg-8">
                    <!--begin::Advance Table Widget 2-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5 mb-3">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Patients Request</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Ambulance requests</span>
                            </h3>
                            <div class="card-toolbar">
                                <ul class="nav nav-pills nav-pills-sm nav-dark-75">
                                    <li class="nav-item">
                                        <button id="day" class="btn btn-success" style="background-color: transparent; color: black;">Day</button>
                                    </li>
                                    <li class="nav-item">
                                        <button id="month" class="btn btn-success" style="background-color: #1BC5BD; color: white;">Month</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2 pb-0 mt-n3" style="height: 100px!important;overflow-y: scroll;">
                            <!--begin::Table-->
                            <div class="table-responsive">
                                <!-- daily table-->
                                <div id="daily_table">
                                    <a href="#">Daily</a>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Requested By</th>
                                                <th scope="col">Requested For</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- daily -->
                                            {% for i in daily_req %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ i.user.first_name|title }}</td>
                                                <td>{{ i.Name|title }}</td>
                                                <td>{{ i.contact }}</td>
                                                <td>{{ i.email }}</td>
                                                <td>
                                                    <a href="{% url 'AmbulanceRequestDetail' i.id %}">View</a>
                                                </td>
                                                <td>{{ i.location }}</td>
                                                <td>{{ i.created_on }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- monthy table -->
                                <div id="monthly_table" style="display: none;">
                                    <a href="#">Monthly</a>
                                    <table class="table table-hover" id="monthly_table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Requested By</th>
                                                <th scope="col">Requested For</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <!-- monthly -->
                                            {% for i in monthly_req %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ i.user.first_name|title }}</td>
                                                <td>{{ i.Name|title }}</td>
                                                <td>{{ i.contact }}</td>
                                                <td>{{ i.email }}</td>
                                                <td>
                                                    <a href="{% url 'AmbulanceRequestDetail' i.id %}">View</a>
                                                </td>
                                                <td>{{ i.location }}</td>
                                                <td>{{ i.created_on }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!--end::Table-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Advance Table Widget 2-->
                </div>
                <div class="col-lg-4">
                    <!--begin::Mixed Widget 14-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5 ">
                            <h3 class="text-center" style="margin: auto;">Patients List</h3>
                        </div>
                        <hr>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column" style="overflow-y: scroll; height: 350px;">
                            {% if user %} {% for i in user %}
                            <div class="alert alert-success" role="alert">
                                <a style="color: white;" href="{% url 'profile' i.id %} ">
                                {{ i.first_name | title }}<br> Contact: {{i.contact}}
                            </a>
                            </div>
                            {% endfor %} {% else %}
                            <div class="alert alert-danger" role="alert">
                                <strong>No Patients Registered</strong>
                            </div>

                            {% endif %}
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Mixed Widget 14-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-lg-6">
                    <!--begin::Charts Widget 4-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header h-auto border-0">
                            <div class="card-title py-5">
                                <h3 class="card-label">
                                    <span class="d-block text-dark font-weight-bolder">Yearly ambulance requests</span>
                                    <span class="d-block text-muted mt-2 font-size-sm">This Years ambulance requests(patients request)</span>
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <ul class="nav nav-pills nav-pills-sm nav-dark-75" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_1">
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body">
                            <canvas style="width: 100%!important; height: 100%!important;" id="chart" data-url="{% url 'monthly_request_chart_ambulance' %}"></canvas>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Charts Widget 4-->
                </div>
                <div class="col-lg-6">
                    <!--begin::List Widget 11-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">Delete any User</h3>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-0" style="height: 350px; overflow-y: scroll;">
                            <!--begin::Item-->
                            {% if all_user %} {% for user in all_user %}
                            <div class="d-flex align-items-center mb-9 bg-light-warning rounded p-5">
                                <!--begin::Icon-->
                                <span class="svg-icon svg-icon-warning mr-5">
                                    <span class="svg-icon svg-icon-lg">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
                                        <i class="fa fa-user"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <!--end::Icon-->
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 mr-2">
                                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">{{ user.first_name|title }}</a>
                                    <span class="text-muted font-weight-bold">{% if user.is_staff %}Dispatch ({{ user.contact }}) {% else %} Customer({{ user.contact }})
                                    {%  endif %}</span>
                                </div>
                                <!--end::Title-->
                                <!--begin::Lable-->
                                <span class="font-weight-bolder text-warning py-1 font-size-lg"><a href="{% url 'delete_any_user' user.id %}"><i class="fa fa-trash"></a></i></span>
                                <!--end::Lable-->
                            </div>
                            <!--end::Item-->
                            {% endfor %} {% else %}
                            <div class="d-flex flex-column flex-grow-1 mr-2">
                                <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">No User</a>
                                <span class="text-muted font-weight-bold">No Diapatch</span>
                            </div>
                            {% endif %}
                            <!--begin::Item-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 11-->
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    $(function() {

        var $chart = $("#chart");
        $.ajax({
            url: $chart.data("url"),
            success: function(data) {

                var ctx = $chart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Requests',
                            data: data.data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                            ],
                            borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                            ],
                            borderWidth: 1,
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Patients'
                        }
                    }
                });

            }
        });

    });
</script>

<script>
    var day = document.getElementById('day');
    var month = document.getElementById('month');
    var daily_table = document.getElementById('daily_table');
    var monthly_table = document.getElementById('monthly_table');

    month.addEventListener('click', function() {
        if (monthly_table.style.display === "none") {
            monthly_table.style.display = "block";
            daily_table.style.display = "none";
        } else {
            monthly_table.style.display = "block";
        }

        if (month.style.backgroundColor != "transparent") {
            month.style.backgroundColor = "transparent";
            day.style.color = "white";
            day.style.backgroundColor = "#1BC5BD";
            month.style.color = "black"
        } else {
            month.style.backgroundColor = "transparent";
        }
    })

    day.addEventListener('click', function() {
        if (daily_table.style.display === "none") {
            daily_table.style.display = "block";
            monthly_table.style.display = "none";
        } else {
            daily_table.style.display = "block";
        }


        if (day.style.backgroundColor != "transparent") {
            day.style.backgroundColor = "transparent"
            month.style.backgroundColor = "#1BC5BD";
            month.style.color = "white";
            day.style.color = "black"
        } else {
            day.style.backgroundColor = "transparent"
            day.style.color = "black"
        }
    })
</script>
<!--end::Main-->
{% endblock %}