{% load static %}

<!DOCTYPE html>
<html class=''>

<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
        type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    <link rel="shortcut icon" href="{% static 'images\favicon.ico' %}" />
    <style>
        #profile-img {
            border-radius: 0px !important;
        }

        #img_edit {
            border-radius: 0px !important;
        }
    </style>
</head>

<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="{{ request.user.imageURL }}" class="online" alt="" />
                    <p>{{ request.user.first_name|title }} {{ request.user.last_name|title }}</p>
                </div>
            </div>

            <div id="contacts">
                <ul>
                    {% for i in users %}
                    <a href="{% url 'send_message' i.id %}">
                        <li class="contact" data-id="{{ i.id }}">
                            <div class="wrap">
                                <img src="{{ i.imageURL }}" height="40px" width="70px" alt="" />
                                <div class="meta">
                                    <p class="name" style="color: white;">{{ i.first_name|title }} {{ i.last_name|title
                                        }}</p>
                                    <p class="preview" style="color: white;">{{ i.contact }} {% if i.is_superuser %}
                                        (Admin) {% elif i.is_staff %} (Dispatch) {% else %} (User) {% endif %}</p>
                                </div>
                            </div>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <div id="bottom-bar">
                <a href="{% url 'profile' request.user.id %}" style="color: white;">
                    <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>My
                            Profile</span></button>
                </a>
                <a href="{% url 'logout' %}" style="color: white;">
                    <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>Logout</button>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="{{ other_user.imageURL }}" alt="" height="40px" width="70px" />
                <p>Conversation with
                    <u>{{ other_user.first_name|title }} {{ other_user.last_name|title }}</u>
                </p>
                <div class="social-media">
                    <a href="{% url 'delete_message' other_user.id %}" class="btn btn-danger"
                        style="margin-right: 5px;">Delete</a>
                </div>
            </div>
            <div class="messages">
                <ul id="uldown" style="height: auto!important; overflow-y: auto!important;">
                    {% for i in messages %} {% if i.sender.username == request.user.username %}

                    <li class="sent">
                        <img src="{{ i.sender.imageURL }}" alt="" height="20px" width="40px" />

                        {% if i.message %}
                        <p style="word-break: break-all;"><small id="show-name">you</small> <small id="time-show">{{
                                i.sent }}</small><br>{{ i.message }} </p> <br>
                        {% endif %}

                        {% if i.file %}
                        <a href="{{ i.file.url }}"><img id="img_edit" src="{{ i.file.url }}"
                                style="height: 70px!important; width: 70px!important;" alt=""></a>
                        {% endif %}

                    </li>

                    {% else %}

                    <li class="replies">
                        <img src="{{ i.sender.imageURL }}" alt="" height="20px" width="40px" />

                        {% if i.message %}
                        <p style="word-break: break-all;"><small id="show-name">{{ i.sender.first_name|title }}</small
                                id="time-show">{{ i.sent }}</small><br> {{ i.message }}</p> <br>
                        {% endif %}

                        {% if i.file %}
                        <a href="{{ i.file.url }}"><img id="img_edit" src="{{ i.file.url }}"
                                style="height: 70px!important; width: 70px!important;" alt=""></a>
                        {% endif %}

                    </li>

                    {% endif %} {% endfor %}
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <form action="{% url 'send_message' id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="text" name="message" placeholder="Write your message..." id="chat-message-input" />
                        <i class="fa fa-paperclip attachment" id="file-manipulation" aria-hidden="true"></i>
                        <input type="file" name="file" id="file" style="display: none;">
                        <button class="submit" id="chat-message-submit"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
<input type="text" name="" id="user" value="{{ request.user.id }}" style="display: none;">

</html>

<script>
    var icon = document.getElementById('file-manipulation')
    var file = document.getElementById('file')

    icon.addEventListener('click', (e) => {
        file.click();
        file.style.display = 'block';
    })
</script>