.page_heading {
    margin: 20px auto;
    padding: 2px;
}

#map_src,
#longitude,
#latitude {
    display: none;
}


/* #crnt_lat,
#crnt_lng,
#lat,
#lng */

.detail_field {
    display: flex;
}

.detail_parent h2 {
    font-size: 16px;
    font-weight: bold;
}

.detail_child h2 {
    font-size: 16px;
}