.required:after {
    content: " *";
    color: red;
}

#id_warning {
    display: none;
}

#bt-w {
    border-radius: 0px;
}

#bt-remove-w {
    display: none;
}

#assesment {
    margin-bottom: 5px;
}