{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }

    textarea {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
        resize: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                <div class="col-md-12">
                    <div class="text-center">
                        <div class="text-center w-50 m-auto" style="margin-bottom: 10px!important;">
                            <u class="mb-15">Crew & Vehicle</u>
                        </div>
    
                        <strong>Assigned Unit</strong>
                        {% for i in assigned_units %}
                            <li>
                                <a href="{% url 'edit_dispatch_incident_crew_and_vehicle' i.id %}"> {{ i.assigned_unit }} Edit</a>
                            </li>
                        {% endfor %}

                        <hr style="width: 50%;">

                        <strong>SMS was sent to these paramedics</strong>
                        {% for i in paramedics %}
                            <li>
                                <a href="{% url 'profile' i.paramedics.id %}">{{ i.paramedics.first_name|title }} {{ i.paramedics.lastname|title }}</a>
                                <p>{{ i.paramedics.contact }}</p>
                            </li>
                        {% endfor %}

                        <hr style="width: 50%;">
                        <div class="form-group">
                            <a href="{% url 'dispatch_incident_crew_and_vehicle' id %}" class="btn btn-success mt-5">Add Another Crew & Vehicle Details</a>
                            <!-- <a href="dispatch_incident_travel_details id" class="btn btn-success mt-5"></a> -->
                        </div>

                    </div>
                    
                </div>


            </div>
           
        </div>
    </div>
</div>


{% endblock %}