{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }
    
    input {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
    }

    textarea {
        padding: 5px!important;
        border: none!important;
        border-radius: 4px!important;
        background-color: #f1f1f1!important;
        resize: none;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                <div class="col-md-12">
                    <div class="text-center">
                        <div class="text-center w-50 m-auto" style="margin-bottom: 10px!important;">
                            <u class="mb-15">Service Notes</u>
                        </div>
    
                        {% for i in service_note %}
                            <li>{{ i.service_notes }}</li>
                        {% endfor %}
    
                        <div class="form-group">
                            <a href="{% url 'dispatch_incident_service_notes' id %}" class="btn btn-success mt-5">Add Another Service Note</a>
                            <!-- <a href="{% url 'dispatch_incident_location_details' id %}" class="btn btn-success mt-5">Next</a>   -->
                            <a href="{% url 'dispatch_incident_patient_info' id %}" class="btn btn-success mt-5">Next</a> <br>
                            <a href="{% url 'emergency_incident_dispatch_individual_parts_medium' id %}" style="text-decoration: underline;">Take me to report section where i will find every details and upcoming or incoming informations regarding this incident/Form</a>
                        </div>
                    </div>
                    
                </div>

                

            </div>
           
        </div>
    </div>
</div>


{% endblock %}