{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Ambulance Request Report</h3>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <button class="btn btn-info" id="month" onclick="data_caller(30)">Last 30 days</button>
                        <button class="btn btn-info" id="week" onclick="data_caller(7)">Last 7 days</button>
                        <button class="btn btn-info" id="td" onclick="data_caller(0)">Today</button>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>
            <!-- {% if request.user.is_user %}
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2"><a href="{% url 'create_order'%}" class="btn btn-facebook">New Order</a></div>
            </div>
            {% endif %} -->
            <input type="text" id="admin_check" value="{{request.user.is_superuser}}">
            <input type="text" id="dispatch_check" value="{{request.user.is_staff}}">
            <input type="text" id="user_id" value="{{request.user.id}}">
            <div class="table-responsive">
                <table id="my_table" class="display table text-center">
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Reason</th>
                            <th>Location</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div id="contentArea"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var admin = document.getElementById('admin_check').value
        var dispatch = document.getElementById('dispatch_check').value
        var user_id = document.getElementById('user_id').value
        endpoint1 = '/api/ambulance/today/'
        $.ajax({
            method: "GET",
            url: endpoint1,
            success: function(data) {
                $.each(data, function(key, value) {

                    if (value === 'nothing') {
                        alert("Nothing to show for this user");
                    } else {
                        if (admin === 'True') {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/update/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/delete/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a></div></div>'
                        } else if (user_id === value.user.id) {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/update/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-edit text-hover-primary mr-2"></i></a></div></div>'
                        } else {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div></div>'
                        }
                        $('#my_table').append('<tr>' + '<td>' + value.Name + '</td> <td>' + value.contact + '</td> <td>' + value.email + '</td> <td>' + value.reason + '</td> <td>' + value.location + '</td> <td>' + act + '</td> </tr>');
                    }
                });
            }
        });
    });


    function clear_table() {
        $('#my_table > tbody').empty();
    }
</script>

<script>
    var admin = document.getElementById('admin_check').value
    var dispatch = document.getElementById('dispatch_check').value
    endpoint = ''
    endpoint1 = '/api/ambulance/today/'
    endpoint2 = '/api/ambulance/week/'
    endpoint3 = '/api/ambulance/month/'

    function data_caller(day) {
        if (day === 30) {
            endpoint = endpoint3
        } else if (day === 7) {
            endpoint = endpoint2
        } else if (day === 0) {
            endpoint = endpoint1

        }

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                $('#my_table > tbody').empty();
                console.log(data);
                $.each(data, function(key, value) {

                    if (value === 'nothing') {
                        alert("Nothing to show for this user");
                    } else {
                        if (admin === 'True') {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/update/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/delete/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a></div></div>'
                        } else if (user_id === value.user.id) {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div><div class="col-md-2"><a href="/ambulance/request/update/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-edit text-hover-primary mr-2"></i></a></div></div>'
                        } else {
                            act = '<div class="row"><div class="col-md-2"><a href="/ambulance/request/detail/' + value.id + '/" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-clipboard-list text-hover-primary mr-2"></i></a></div></div>'
                        }

                        $('#my_table').append('<tr>' + '<td>' + value.Name + '</td> <td>' + value.contact + '</td> <td>' + value.email + '</td> <td>' + value.reason + '</td> <td>' + value.location + '</td> <td>' + act + '</td> </tr>');
                    }
                });
            }
        });
    }
</script>
{% endblock %}