{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Audit Report</h3>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{message}}
                        </p>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            </a>
            {% if request.user.is_user %}
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2"><a href="{% url 'create_order'%}" class="btn btn-facebook">New Order</a></div>
            </div>
            {% endif %}
            <div class="table-responsive">
                <table id="data-table" class="display table-hover table text-center">
                    <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Transaction / Activity</th>
                            <th>Name & Surname of Auditor</th>
                            <th>Date of Audit/Transaction</th>
                            <th>Practitioner being Audited/Stock Issued</th>
                            <th>Practitioner being Audited/Stock Issued(optional)</th>
                            <th>Email Practitionar</th>
                            <th>Qualification of Practitionar</th>
                            <th>Previous Audit</th>
                            <th>Has the Practitioner been issued with all medication in scope?</th>
                            <th>Expired Drugs</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in audits %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.transaction_activity }}</td>
                            <td>{{ i.name_auditor }}</td>
                            <td>{{ i.date_of_audit }}</td>
                            <td>{{ i.practitioner_being_audited_charfield|title }}</td>
                            <td>
                                <a href="{% url 'profile' i.practitioner_being_audited.id %}">
                                    {{ i.practitioner_being_audited.first_name|title }} {{ i.practitioner_being_audited.last_name|title }}
                                </a>
                            </td>
                            <td>{{ i.email_practitioner }}</td>
                            <td>{{ i.qualification_practitioner }}</td>
                            <td>{{ i.previous_audit }}</td>
                            <td>{{ i.has_the_prac_been_issued_with_all_nedication_in_scope }}</td>
                            <td>{{ i.expired_drugs }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="{% url 'audit_edit' i.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fas fa-edit text-hover-primary mr-2"></i></a>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <a href="{% url 'audit_delete' i.id %}" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt text-hover-primary mr-2"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="contentArea"></div>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">
    function contentDisp() {
        $.ajax({
            url: '/' + 'static/file/style.pdf',
            success: function(data) {
                $("#contentArea").html(data);
            }
        });
    }
</script> -->
{% endblock %}