{% extends '../base.html' %} {% load static %} {% block content %}
<style>
    select {
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }

    input {
        padding: 5px !important;
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }

    textarea {
        padding: 16px 20px !important;
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }
</style>


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card mb-5">
                <div class="card-header">
                    <div class="card-title text-center">
                        <h3 class="card-label">Emergency Medical Dispatch - Incident Report</h3>
                        <hr>

                        <div>
                            {{ form.errors }}
                                {% if assigned_units %}
                                    <h3>Assigned Units</h3>
                                    {% for i in assigned_units %}
                                        <li>
                                            <a href="{% url 'edit_dispatch_incident_crew_and_vehicle' i.id %}"> {{ i.assigned_unit }} Edit</a>
                                        </li>
                                    {% endfor %}
                            {% endif %}
                            You can assign new units from down below
                        </div>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{message}}
                    </p>
                    {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            <form method="POST" action="{% url 'dispatch_incident_crew_and_vehicle' id %}">
                {% csrf_token %}

                <div class="row shadow p-3 mb-10 bg-white rounded">
                    <div class="col-md-12">
                        <div class="text-center bg-gray-600 text-white">
                            <h3 style="font-family: lobster;">Crew & Vehicle</h3>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="assigned_unit">Assign Unit</label> {{ form.assigned_unit }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="vehicle_total">Vehicle</label> {{ form.vehicle_total }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="vehicle_total">Unit REG#</label> {{ form.unit_reg }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="vehicle_total">Senior</label> {{ form.senior }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="vehicle_total">ASSIST01</label> {{ form.assist01 }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="assist02">ASSIST02</label> {{ form.assist02 }}
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group mt-2">
                            <label for="loc">LoC</label> {{ form.loc }}
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="fomr-group">
                            <label for="">These are the paramedics assigned with your selected unit</label> <br>
                            <p id="fetch_paramedics_from_server"></p>
                        </div>
                    </div>



                    
                    <!-- <div class="col-md-12">
                        <div class="form-group mt-2">
                            <label for="other_medics" style="font-weight: bold;">No I want to add other paramedics</label> <br>
                            <input type="checkbox" name="other_medics" id="other_medics"> 
                        </div>
                    </div>

                    <div class="col-md-12" id="show_add_paramedics" >
                        <select class="form-control select2" id="paramedics" name="paramedics" multiple="multiple">
                            {% for i in user %}
                                <option value="{{ i.id }}">{{ i.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <br> -->


                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div style="border-radius: 0px!important;" class="input-group-text btn btn-success">
                            <input type="checkbox" required name="main_form" id="main_form">
                        </div>
                    </div>
                    <button type="submit" style="border-radius: 0px!important;" class="btn btn-success">Move Next <i
                            class="fa fa-arrow-right"></i> </button>
                </div>


            </form>

            <div class="input-group mb-3">
                <a href="{% url 'edit_emergency_dispatch_incident_report_call_intake_phase' id  %}"
                    style="border-radius: 0px!important;" class="btn btn-success">Edit Previous <i
                        class="fa fa-arrow-left"></i>
                </a>

            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
    $('#id_assigned_unit').change(function () {
        var selected_unit = $(this).children("option:selected").val();

        // removing options
        $('#id_senior')
            .find('option')
            .remove();

        $('#id_assist01')
            .find('option')
            .remove();

        $('#id_assist02')
            .find('option')
            .remove();


        backend_data = {
            'val': selected_unit,
        }
        $.ajax({
            type: 'POST',
            url: '/showing/medic/via/unit/selection/',
            data: backend_data,
            success: function(response){
            $("#fetch_paramedics_from_server").empty();
                $.each(response, function(key, value) {
                    if(value.found === true){
                        var username = value.username;
                        var contact = value.contact;
                        $("#fetch_paramedics_from_server").append(
                            "<div >" + username + ' ' + contact + " </div>"
                        );

                        $("#id_unit_reg").val(value.unit_reg);

                        // adding options dynamically
                        $('#id_senior').append($('<option>', {
                            value: username,
                            text: username
                        }));

                        $('#id_assist01').append($('<option>', {
                            value: username,
                            text: username
                        }));

                        $('#id_assist02').append($('<option>', {
                            value: username,
                            text: username
                        }));
                    } 

                    if(value.found === false){
                        $("#fetch_paramedics_from_server").append(
                            "<div >" + value.msg + " </div>"
                        );
                        $("#id_unit_reg").val('');

                        // removing options
                        $('#id_senior')
                            .find('option')
                            .remove();

                        $('#id_assist01')
                            .find('option')
                            .remove();

                        $('#id_assist02')
                            .find('option')
                            .remove();

                    }
                    
                })
            }
        })
    })
</script>

<!-- <script>
    $(document).ready(function () {
        $('#paramedics').select2();
        $('#show_add_paramedics').css("pointer-events", "none");
    });
</script>

<script>
    $('#other_medics').click(function(){
        if (this.checked == true){
            $('#show_add_paramedics').css("pointer-events","");
            $('.medics').css("display", "none");
        }
        else{
            $('#show_add_paramedics').css("pointer-events", "none");
        }
    })
</script> -->

{% endblock %}