{% extends '../base.html' %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
</style>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Row-->
            <div class="row mt-20">
                <!-- body that will take incoming dragged fields -->
                <div class="col-lg-6">
                    <form method="post" action="{% url 'edit_occurrence' id%}" class="draggable-zone" enctype="multipart/form-data">
                        {% csrf_token %} Drop into that box
                        <div class="card draggable-zone" style="width: 100%; height: 100%;">
                            <div class="card-body draggable-zone" id="tobedropped">

                            </div>
                        </div>
                </div>
                <!-- end  -->

                <!-- draggable fields by fahad -->
                <!-- form fields -->
                {{ form.errors }}
                <div class="col-lg-6 draggable-zone">
                    <div class="draggable">
                        <label class="draggable-handle required">Occurrence Type</label>
                        <div class="draggable-handle">{{ form.occurrence_type }}</div>
                    </div>

                    <div class="draggable">
                        <label class="draggable-handle">Related User(Optional)</label>
                        <div class="draggable-handle">
                            {{ form.related_user }}
                        </div>
                    </div>


                    <div style="display: none;">
                        <input type="text" name="occurrence_giver" style="display: none;">
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required">Occurrence
                            Detail</label>
                        <div class="draggable-handle">
                            {{ form.occurrence_detail }}
                        </div>
                    </div>
                    <br>
                    <div class="draggable">
                        <div class="draggable-handle">{{ form.image }}</div>
                    </div><br>

                    <button type="submit" id="to-be-clicked" class="btn btn-success">Save</button>
                    </form>
                    <!-- form ends -->
                </div>
                <!-- fields end draggable -->
            </div>
            <!--end:: Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
{% endblock %}