<table>
    <thead>
        <th>
            Customer Information
        </th>
    </thead>
</table>

<table border="1px">
    <thead>
        <th>
            Company or Patient Name & Surname
        </th>

        <th>
            Customer Email
        </th>

        <th>
            Customer Cellphone #
        </th>

        <th>
            Date
        </th>
        <th>
            Time
        </th>
    </thead>
    <tbody>
        <!--electronic_cash  -->
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>

</table>