{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    .box{
        padding: 10px;
        margin: 5px;
        border: 1px solid #EBEDF3;
    }

    .active{
        background-color: #ccc;
    }

    .shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2rem;
    }

    .sidebar{
        position: fixed;
        left: 100px;
    }

    .contents{
        position: absolute;
        max-height: 400px;
        right: 200px;
        overflow: auto;
    }

    @media only screen and (max-width: 760px) {
        .data-container {
            flex: none !important;
        }

        .sidebar{
            position: unset !important;
        }

        .contents{
            position: unset !important;
            display: block !important;
        }
    }

</style>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <div class="container" style="margin: 5px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-around">
                        <div class="card p-5">
                            <a href="{% url 'dispatch_incident_patient_info' id %}" style="border-radius: 0px;" class="btn btn-info">Add Patient Information</a>
                        </div>

                        <div class="card p-5">
                            <a href="{% url 'dispatch_incident_dispatcher_certification' id %}" style="border-radius: 0px;" class="btn btn-info">Add Dispatcher Certification</a>
                        </div>

                        <div class="card p-5">
                            {% if call_intake_phase.closed %}
                                <a href="#" style="border-radius: 0px;"
                                class="btn btn-info">Closed</a>
                            {% else %}
                                <a href="{% url 'close_dispatch_emergency_incident' id %}" style="border-radius: 0px;"
                                class="btn btn-info">Close This Incident</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-around data-container">
                        <div class="sidebar">
                    
                            <div class="box" id="call_i">
                                <a href="#">Call Intake Phase</a>
                            </div>
                    
                            <div class="box" id="a_u">
                                <a href="#">Assigned Units</a>
                            </div>
                    
                            <div class="box" id="medics">
                                <a href="#">Paramedics</a>
                            </div>
                    
                            <div class="box" id="t_d">
                                <a href="#">Travel Details</a>
                            </div>

                            <div class="box" id="p_i">
                                <a href="#">Patient Information</a>
                            </div>

                            <div class="box" id="p_o">
                                <a href="#">Photos and Others</a>
                            </div>

                            <div class="box" id="d_c">
                                <a href="#">Dispatcher Certification</a>
                            </div>

                            <div class="box" id="s_n">
                                <a href="#">Service Notes</a>
                            </div>
                    
                        </div>
                    
                        <div class="contents">
                            <div class="card p-5 mb-5" id="call">
                                <div class="text-left">
                                    <h3>Call Intake Phase</h3>
                                </div>

                                

                                <div class="form-group">
                                    <label for="user">Dispatcher</label> <br>
                                    <input type="text" class="form-control" readonly name="user" id="user" value="{{ call_intake_phase.user }}">
                                </div>


                                <div class="form-group">
                                    <label for="panic">Panic</label> <br>
                                    {% if call_intake_phase.panic %}
                                        <input type="text" readonly class="form-control"  name="panic" id="panic" value="{{ call_intake_phase.panic }}">
                                    {% else %}
                                        No Panic attached
                                    {% endif %}
                                </div>


                                <div class="form-group">
                                    <label for="run_id">Run ID</label> <br>
                                    <input type="text" readonly class="form-control"  name="run_id" id="run_id" value="{{ call_intake_phase.run_id }}">
                                </div>

                                <div class="form-group">
                                    <label for="chief_complain">Chief Complain</label> <br>
                                    <input type="text" class="form-control"    readonly name="chief_complain" id="chief_complain" value="{{ call_intake_phase.chief_complain }}">
                                </div>

                                <div class="form-group">
                                    <label for="incident_category">Incident Category</label> <br>
                                    <input type="text" class="form-control"  readonly name="incident_category" id="incident_category" value="{{ call_intake_phase.incident_category }}">
                                </div>

                                <div class="form-group">
                                    <label for="ppe_lvl">PPE LEVEL</label> <br>
                                    <input type="text" class="form-control" readonly name="ppe_lvl" id="ppe_lvl" value="{{ call_intake_phase.ppe_lvl }}">
                                </div>

                                <div class="form-group">
                                    <label for="pick_up_address">Pick up address</label> <br>
                                    <input type="text" class="form-control" readonly name="pick_up_address" id="pick_up_address" value="{{ call_intake_phase.pick_up_address }}">
                                </div>

                                <div class="form-group">
                                    <label for="billing_type">Billing Type</label> <br>
                                    <input type="text" class="form-control" readonly name="billing_type" id="billing_type" value="{{ call_intake_phase.billing_type }}">
                                </div>

                                <div class="form-group">
                                    <label for="billing_source">Billing Source</label> <br>
                                    <input type="text" class="form-control" readonly name="billing_source" id="billing_source" value="{{ call_intake_phase.billing_source }}">
                                </div>

                                <div class="form-group">
                                    <label for="amount_quoted">Amount Quoted</label> <br>
                                    <input type="text" class="form-control" readonly name="amount_quoted" id="amount_quoted" value="{{ call_intake_phase.amount_quoted }}">
                                </div>

                                <div class="form-group">
                                    <label for="authorization_number">Authorization Number</label> <br>
                                    <input type="text" class="form-control" readonly name="authorization_number" id="authorization_number" value="{{ call_intake_phase.authorization_number }}">
                                </div>

                                <div class="form-group">
                                    <label for="caller_name">Caller Name</label> <br>
                                    <input type="text" class="form-control" readonly name="caller_name" id="caller_name" value="{{ call_intake_phase.caller_name }}">
                                </div>

                                <div class="form-group">
                                    <label for="caller_number">Caller Number</label> <br>
                                    <input type="text" class="form-control" readonly name="caller_number" id="caller_number" value="{{ call_intake_phase.caller_number }}">
                                </div>

                                <div class="form-group">
                                    <label for="caller_company">Caller Company</label> <br>
                                    <input type="text" class="form-control" readonly name="caller_company" id="caller_company" value="{{ call_intake_phase.caller_company }}">
                                </div>

                                <div class="form-group">
                                    <label for="call_received_time">Call Received Time</label> <br>
                                    <input type="text" class="form-control" readonly name="call_received_time" id="call_received_time" value="{{ call_intake_phase.call_received_time }}">
                                </div>

                                <div class="form-group">
                                    <label for="time_call_posted_to_crew_on_whatsapp">Time Call Posted To Crew On Whatsapp</label> <br>
                                    <input type="text" class="form-control" readonly name="time_call_posted_to_crew_on_whatsapp" id="time_call_posted_to_crew_on_whatsapp" value="{{ call_intake_phase.time_call_posted_to_crew_on_whatsapp }}">
                                </div>

                                <div class="form-group">
                                    <label for="time_call_posted_to_crew_on_whatsapp">Time Call Posted To Crew On Whatsapp</label> <br>
                                    <input type="text" class="form-control"  readonly name="time_call_posted_to_crew_on_whatsapp" id="time_call_posted_to_crew_on_whatsapp"
                                        value="{{ call_intake_phase.time_call_posted_to_crew_on_whatsapp }}">
                                </div>

                                <div class="form-group">
                                    <label for="crew_operational_status">Crew Operational Status</label> <br>
                                    <input type="text" class="form-control"  readonly name="crew_operational_status" id="crew_operational_status"
                                        value="{{ call_intake_phase.crew_operational_status }}">
                                </div>

                                <div class="form-group">
                                    <label for="how_many_units_dispatched">Units Dispatched</label> <br>
                                    <input type="text" class="form-control"  readonly name="how_many_units_dispatched" id="how_many_units_dispatched"
                                        value="{{ call_intake_phase.how_many_units_dispatched }}">
                                </div>

                                <div class="form-group">
                                    <label for="created_on">This part was created on</label> <br>
                                    <input type="text" class="form-control"  readonly name="created_on" id="created_on"
                                        value="{{ call_intake_phase.created_on }}">
                                </div>
                            </div>

                            <div class="card p-5 mb-5" id="units" style="display: none">
                                <div class="text-left">
                                    <h3>Assigned Units</h3>
                                    {% for i in crews %}
                                        <div>
                                            <a href="{% url 'edit_dispatch_incident_crew_and_vehicle' i.id %}" style="text-decoration: underline;">{{ i.assigned_unit }}</a>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card p-5 mb-5" id="paramedics" style="display: none">
                                <div class="text-left">
                                    <h3>Assigned Paramedics</h3>
                                </div>
                                    {% for i in assigned_medics %}
                                        {{ i.paramedics.first_name|title }} {{ i.paramedics.last_name|title }} <br>
                                        {{ i.paramedics.contact }} <hr>
                                    {% endfor %}
                            </div>

                            <div class="card p-5 mb-5" id="phases" style="display: none">
                                <div class="text-left">
                                    <h3>
                                        Travel Details
                                    </h3>
                                    {% for i in travel_details %}

                                        <div class="text-left">
                                            Unit: {{ i.parent.for_crew.assigned_unit }}
                                        </div>

                                        <div class="v-p">
                                            <strong>Paramedics</strong>
                                            <u>{{ i.parent.paramedics.first_name|title }} {{ i.parent.paramedics.last_name|title }},</u>
                                        </div>

                                        <hr style="width: 50px;">

                                        <div class="form-group">
                                            <label for="status">Status</label><br>
                                            <input class="form-control"  type="text" name="status" id="status" value="{{ i.status }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="medic_loc">Paramedic Location</label><br>
                                            <input class="form-control" type="text" name="medic_loc" id="medic_loc" value="{{ i.medic_loc }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="target_loc">Target Location</label><br>
                                            <input class="form-control"  type="text" name="target_loc" id="target_loc" value="{{ i.target_loc }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="action_time">Log Time</label><br>
                                            <input class="form-control"  type="text" name="action_time" id="action_time" value="{{ i.action_time }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="odo">ODO</label><br>
                                            <input class="form-control"  type="text" name="odo" id="odo" value="{{ i.odo }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="dis">Distance</label><br>
                                            <input class="form-control"  type="text" name="dis" id="dis" value="{{ i.dis }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="dur">Duration</label><br>
                                            <input class="form-control"  type="text" name="dur" id="dur" value="{{ i.dur }}">
                                        </div>
                                        <hr>
                                        <a href="{% url 'dispatch_incident_service_notes' i.parent.parent.id %}" class="btn btn-info">Add Service Notes</a>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card p-5 mb-5" id="s_notes" style="display: none">
                                {% for i in service_notes %}
                                    <div class="text-left">
                                        <h3>Service Notes ({{ forloop.counter }}) </h3>
                                    </div>

                                    <div class="form-group">
                                        <label for="service_notes">Service Note</label> <br>
                                        <input class="form-control"  type="text" readonly name="service_notes" id="service_notes" value="{{ i.service_notes }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="scribe">Scribe</label> <br>
                                        <input class="form-control"  type="text" readonly name="scribe" id="scribe" value="{{ i.scribe }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="service_note_time">Service Note Time</label> <br>
                                        <input class="form-control"  type="text" readonly name="service_note_time" id="service_note_time" value="{{ i.service_note_time }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="service_note_description">Service Note Description</label> <br>
                                        <input class="form-control"  type="text" readonly name="service_note_description" id="service_note_description" value="{{ i.service_note_description }}">
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="card p-5 mb-5" id="patient" style="display: none">
                                {% for i in patient_info %}
                                <div class="text-left">
                                    <h3>Patient Information ({{ forloop.counter }})</h3>
                                </div>

                                <div class="form-group">
                                    <label for="patient">Patient</label> <br>
                                    <input class="form-control"  type="text" name="patient" id="patient"
                                        value="{{ i.patient }}" readonly>
                                </div>
                            
                                <div class="form-group">
                                    <label for="p_priority">Priority</label> <br>
                                    <input class="form-control"  type="text" name="p_priority" id="p_priority" value="{{ i.p_priority }}"
                                        readonly>
                                </div>
                            
                                <div class="form-group">
                                    <label for="p_lvl_of_care">LEVEL OF CARE</label> <br>
                                    <input class="form-control"  type="text" name="p_lvl_of_care" id="p_lvl_of_care" value="{{ i.p_lvl_of_care }}" readonly>
                                </div>
                            
                                <div class="form-group">
                                    <label for="other_dispatcher">Other Dispatcher if call was handed over</label> <br>
                                    <input class="form-control"  type="text" name="other_dispatcher" id="other_dispatcher" value="{{ i.other_dispatcher }}" readonly>
                                </div>
                            
                                <div class="form-group">
                                    <label for="p_name">Patient Name</label> <br>
                                    <input class="form-control"  type="text" name="p_name" id="p_name"
                                        value="{{ i.p_name }}" readonly>
                                </div>
                            
                            
                                <div class="form-group">
                                    <label for="p_medical_aid_plan_option">Medical Aid Plan Option</label> <br>
                                    <input class="form-control"  type="text" name="p_medical_aid_plan_option" id="p_medical_aid_plan_option" value="{{ i.p_medical_aid_plan_option }}" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="p_medical_aid">Medical Aid</label> <br>
                                    <input  class="form-control"  type="text" name="p_medical_aid" id="p_medical_aid"
                                        value="{{ i.p_medical_aid }}" readonly>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="card p-5 mb-5" id="photos" style="display: none">
                                
                                {% for i in photos %}
                                    <div class="text-left">
                                        <h3>Photos and Others ({{ forloop.counter }})</h3>
                                    </div>
                                    <div class="form-group">
                                        <label for="photos_and_other_choices">Photo & Other Choices</label> <br>
                                        <input class="form-control"  type="text" name="photos_and_other_choices" readonly id="photos_and_other_choices" value="{{ i.photos_and_other_choices }}">
                                    </div>

                                    {% if i.photo %}
                                        <div class="form-group">
                                            <label for="photos_and_other_choices">Photo & Other Choices</label> <br>
                                            <img src="{{ i.photo.url }}" height="300px" width="300px" alt="">
                                        </div>
                                    {% endif %}

                                    {% if i.document %}
                                        <div class="form-group">
                                            <label for="document">Document</label> <br>
                                            <img src="{{ i.document.url }}" height="300px" width="300px" alt="">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="card p-5 mb-5" id="certificate" style="display: none">
                                <div class="text-left">
                                    <h3>Dispatch Certification</h3>
                                </div>

                                {% for i in certification %}
                                    <div class="form-group">
                                        <label for="senior_practitioner_csn">Senior Practioner CSN</label> <br>
                                        <input class="form-control"  type="text" name="senior_practitioner_csn" id="senior_practitioner_csn" value="{{ i.senior_practitioner_csn }}" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="name_of_dispatcher">Name Of The Dispatcher</label> <br>
                                        <input class="form-control"  type="text" name="name_of_dispatcher" id="name_of_dispatcher"
                                            value="{{ i.name_of_dispatcher }}" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="was_the_call_handed_over_to_another_dispatcher">Was the call handed over to another dispatcher?</label> <br>
                                        <input class="form-control"  type="text" name="was_the_call_handed_over_to_another_dispatcher" id="was_the_call_handed_over_to_another_dispatcher"
                                            value="{{ i.was_the_call_handed_over_to_another_dispatcher }}" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="other_dispatcher">Other Dispatcher if call was handed over</label> <br>
                                        <input class="form-control"  type="text" name="other_dispatcher" id="other_dispatcher"
                                            value="{{ i.other_dispatcher }}" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="dispatch_special_notes">Dispatch Special Notes</label> <br>
                                        <input class="form-control"  type="text" name="dispatch_special_notes" id="dispatch_special_notes"
                                            value="{{ i.dispatch_special_notes }}" readonly>
                                    </div>

                                    {% if i.signature %}
                                        <div class="form-group">
                                            <label for="signature">Signature</label> <br>
                                            <img src="{{ i.signature.url }}" class="img-thumbnail" alt="">
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        <label for="created">Record Completion Date & Time</label> <br>
                                        <input class="form-control"  type="text" name="created" id="created"
                                            value="{{ i.created }}" readonly>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
    $('#call_i').click(function(){
        $('#call').css("display", "block");
        $('#call').addClass("shadow");

        $('#units').css("display", "none");
        $('#paramedics').css("display", "none");
        $('#phases').css("display", "none");
        $('#s_notes').css("display", "none");
        $('#patient').css("display", "none");
        $('#photos').css("display", "none");
        $('#certificate').css("display", "none");
    })

    $('#a_u').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "block");
            $('#units').addClass("shadow");

            $('#paramedics').css("display", "none");
            $('#phases').css("display", "none");
            $('#s_notes').css("display", "none");
            $('#patient').css("display", "none");
            $('#photos').css("display", "none");
            $('#certificate').css("display", "none");
        })

    $('#medics').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "block");
            $('#paramedics').addClass("shadow");

            $('#phases').css("display", "none");
            $('#s_notes').css("display", "none");
            $('#patient').css("display", "none");
            $('#photos').css("display", "none");
            $('#certificate').css("display", "none");
        })

    $('#t_d').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "none");
            $('#phases').css("display", "block");
            $('#phases').addClass("shadow");

            $('#s_notes').css("display", "none");
            $('#patient').css("display", "none");
            $('#photos').css("display", "none");
            $('#certificate').css("display", "none");
        })

    $('#p_i').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "none");
            $('#phases').css("display", "none");
            $('#s_notes').css("display", "none");
            $('#patient').css("display", "block");
            $('#patient').addClass("shadow");

            $('#photos').css("display", "none");
            $('#certificate').css("display", "none");
        })

    $('#p_o').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "none");
            $('#phases').css("display", "none");
            $('#s_notes').css("display", "none");
            $('#patient').css("display", "none");
            $('#photos').css("display", "block");
            $('#photos').addClass("shadow");

            $('#certificate').css("display", "none");
        })

    $('#d_c').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "none");
            $('#phases').css("display", "none");
            $('#s_notes').css("display", "none");
            $('#patient').css("display", "none");
            $('#photos').css("display", "none");
            $('#certificate').css("display", "block");
            $('#certificate').addClass("shadow");
        })

    $('#s_n').click(function () {
            $('#call').css("display", "none");
            $('#units').css("display", "none");
            $('#paramedics').css("display", "none");
            $('#phases').css("display", "none");
            $('#s_notes').css("display", "block");
            $('#s_notes').addClass("shadow");

            $('#patient').css("display", "none");
            $('#photos').css("display", "none");
            $('#certificate').css("display", "none");
        })
</script>

<script>
    $('.box').click(function(){
        var id = this.id;
        $('.box').removeClass("active");
        $('#' + id).addClass("active");
    })
</script>

{% endblock %}