{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Date</th>
                        <th>Detail</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr id="form-data{{i.id}}">
                        <td>{{i.form}}</td>
                        <td>{{i.date}}</td>
                        <td><a href="{% url 'form_data_pdf' i.id %}" download="">PDF</a></td>
                        <td><button class="btn btn-danger" onclick="formdatadelete({{i.id}})">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script>
    function formdatadelete(id) {
        var action = confirm("Are you sure?")
        if (action != false) {
            $.ajax({
                url: "{% url 'form_data_delete' %}",
                data: {
                    'id': id
                },
                success: function(data) {
                    $("#form-data" + id).remove()
                }
            })
        }
    }
</script>
{% endblock %}