{% extends '../base.html' %} {% load static %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <form id="formrender"></form>
            <button class="btn btn-primary" onclick="submit()">Submit</button>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script src="{% static 'package/form-builder/form-render.min.js' %} "></script>
<script>
    function submit() {
        var formdata = JSON.stringify($("#formrender").serializeArray());
        var id = JSON.parse("{{id|escapejs}}")
        $.ajax({
            method: 'post',
            url: "{% url 'save_form' %}",
            data: {
                'id': id,
                'formdata': formdata
            },
            dataType: 'json',
            success: function(data) {
                alert('success')
                location.href = "http://127.0.0.1:8000/form/list/"
            }
        })
    }
</script>

<script>
    jQuery(function($) {
        var fbRender = document.getElementById('formrender'),
            formData = JSON.parse("{{ json_form|escapejs }}");

        var formRenderOpts = {
            formData,
            dataType: 'json'
        };

        $(fbRender).formRender(formRenderOpts);
    });
</script>
{% endblock %}