{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    .chat-users {
        border: 1px;
        margin-bottom: 1rem;
        padding: 10px;
    }

    .chat-users img {
        border-radius: 30px;
    }

    .chat-users:hover {
        background-color: #f8f9fa !important;
    }

    #chat-user-section {
        height: 400px;
        min-width: 300px;
        max-width: 500px;
        overflow: auto;
    }

    .vertical-line {
        height: 500px;
        width: 0.2rem;
        background-color: #dbe1e6;
    }

    #chat-user-names {
        font-size: 15px;
        margin-left: 15px;
        color: #222;
    }

    .chat-log {
        height: 350px;
        overflow: auto;
    }

    #chat-log-section {
        width: 100%;
    }

    .input {
        width: 70%;
        margin-left: 2rem;
    }

    .flaticon-paper-plane:hover {
        cursor: pointer;
    }

    .send-icon-container {
        padding: 5px;
    }

    .others {
        border: 2px solid #ccc;
        margin-left: 1rem;
        padding: 10px;
        background-color: #ddd;
        border-radius: 5px;
        height: auto;
        width: auto;
    }

    .others img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .you {
        margin-left: 1rem;
        padding: 10px;
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        height: auto;
        display: table;
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        margin-left: 20px;
    }

    .flex-texts {
        margin-left: 1.5rem
    }

    @media only screen and (max-width: 556px) {
        #chat-user-section {
            display: none;
        }

        .vertical-line {
            display: none;
        }
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex">
                        <!-- chat iser's section -->
                        <section id="chat-user-section">
                            <div class="text-left">
                                <h3>Group Chat Members</h3>
                                <small>Click on names to chat privately</small>
                            </div>

                            <!-- ambulance incident form creator -->
                            <div class="chat-users d-flex">
                                <img src="{{ am_model_instance.user.imageURL }}" height="40px" width="40px" alt="">
                                <a style="cursor: pointer;" class="d-flex" onclick="window.open( '{% url 'send_message' am_model_instance.user.id  %}' , '_blank' , 'location=yes,height=570,width=670,scrollbars=yes,status=yes' );">
                                    <span id="chat-user-names">
                                        {{ am_model_instance.user.first_name|title }} {{ am_model_instance.user.last_name|title }}
                                        <br>
                                        {{ am_model_instance.user.contact }}
                                    </span>
                                </a>
                            </div>

                            <!-- other users -->
                            {% for i in chat_users %}
                                <div class="chat-users d-flex">
                                    <img src="{{ i.paramedics.imageURL }}" height="40px" width="40px" alt="">
                                    <a style="cursor: pointer;" class="d-flex" onclick="window.open('{% url 'send_message' i.paramedics.id %}', '_blank', 'location=yes,height=570,width=670,scrollbars=yes,status=yes');">
                                        <span id="chat-user-names">{{ i.paramedics.first_name|title }} <br>
                                            {{ i.paramedics.contact }} </span>
                                    </a>
                                </div>
                            {% endfor %}

                            <!-- Caller/panic sender -->
                            {% if am_model_instance.panic %}
                                <h5>Panic Sender/Caller(Also in group chat)</h5>
                                <div class="chat-users d-flex">
                                    <img src="{{ am_model_instance.panic.panic_sender.imageURL }}" height="40px" width="40px" alt="">

                                    <a style="cursor: pointer;" class="d-flex"
                                        onclick="window.open( '{% url 'send_message' am_model_instance.panic.panic_sender.id  %}' , '_blank' , 'location=yes,height=570,width=670,scrollbars=yes,status=yes' );">
                                        <span id="chat-user-names">
                                            {{ am_model_instance.panic.panic_sender.first_name|title }} {{ am_model_instance..panic.panic_sender.last_name|title }}
                                            <br>
                                            {{ am_model_instance.panic.panic_sender.contact }}
                                        </span>
                                    </a>
                                </div>
                            {% endif %}

                        </section>

                        <div class="vertical-line"></div>

                        <!-- chat-log -->
                        <section id="chat-log-section">

                            <div class="text-center">
                                <h6>
                                    <strong>Group Chat</strong> For
                                    <span>
                                        Dispatch Incident Run ID: {{ am_model_instance.run_id }}</span>
                                    <p><small>Messages here are visible for all members mentioned in the <strong>group chat members</strong> section</small></p>
                                </h6>
                            </div>

                            <div class="chat-log">
                            {% if not am_model_instance.closed %}

                                {% for i in inbox %}
                                    {% if i.sender == request.user %}
                                    <div class="d-flex">
                                        <div>
                                            <img src="{{ i.sender.imageURL }}" alt="">
                                        </div>

                                        <div class="you mb-2">
                                            <strong>You</strong>
                                            <div class="flex-texts">
                                                <span>{{ i.sent }}</span> <br>
                                                {% if i.msg %}
                                                    <span>{{ i.msg|title }}</span>
                                                {% endif %}
                                                
                                                {% if i.img %}
                                                <br>
                                                    <a href="{{ i.img.url }}">
                                                        <img src="{{ i.img.url }}" height="100px" width="100px" alt="">
                                                    </a>
                                                {% endif %}
                                                
                                                {% if i.attachment %}
                                                <br>
                                                    <a href="{{ i.attachment.url }}">
                                                        {{ i.attachment.url }}
                                                    </a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>

                                    {% else %}
                                    <div class="d-flex">
                                        <div>
                                            <img src="{{ i.sender.imageURL }}" alt="">
                                        </div>

                                        <div class="you mb-2">
                                            <strong>{{ i.sender.first_name|title }}</strong>
                                            <div class="flex-texts">
                                                <span>{{ i.sent }}</span> <br>

                                                {% if i.msg %}
                                                    <span>{{ i.msg|title }}</span>
                                                {% endif %}

                                                {% if i.img %}
                                                <br>
                                                    <a href="{{ i.img.url }}">
                                                        <img src="{{ i.img.url }}" height="100px" width="100px" alt="">
                                                    </a>
                                                {% endif %}

                                                {% if i.attachment %}
                                                <br>
                                                    <a href="{{ i.attachment.url }}">
                                                        {{ i.attachment.url }}
                                                    </a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                <div class="you mb-2">
                                    <div class="flex-texts">
                                        <span><h3>This Chat was closed</h3></span>
                                    </div>
                                </div>
                            {% endif %}
                            </div>

                            <div class="input">
                                <!-- msg input -->
                                <textarea class="form-control" required name="msg" id="msg" cols="100"
                                    rows="5"></textarea>
                                <div class="send-icon-container">

                                    <!-- send msg btn -->
                                    <button class="btn btn-secondary button-send"
                                        style="border-radius: 0px;">Send</button>

                                        <!-- reload msg btn ajax -->
                                    <button class="btn btn-secondary" id="reload-msg" style="border-radius: 0px;">Reload
                                        Messages</button>


                                    <!-- img upload btn -->
                                    <button type="button" id="images-btn" class="btn btn-secondary" style="border-radius: 0px;">
                                        Upload Images
                                    </button>

                                    <!-- attachment upload btn -->
                                    <button type="button" id="attachment-btn" class="btn btn-secondary" style="border-radius: 0px;">
                                        <i class="icon text-dark-50 flaticon-attachment"></i>
                                        Attachment
                                    </button>

                                    <br>

                                    <!-- uploading attachments -->
                                    <form method="post" action="{% url 'group_chat' am_id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <!-- img input -->
                                        <input type="file" multiple name="img" id="images-inp" accept="image/*" style="display: none;">
                                        <!-- file input -->
                                        <input type="file" name="attachment" id="attachment-inp" style="display: none;">
                                        <br>
                                        <button type="submit" id="submit-attachments" class="btn btn-success" style="display: none; border-radius: 0px;">Send Files</button>
                                    </form>
                                    <!-- ends attachment -->
                                   

                                    <a href="{% url 'delete_dispatch_sms' am_model_instance.id %}"
                                        class="btn btn-danger" style="border-radius: 0px;">Delete Conversion</a>

                                    <!-- new window for emergency report form -->
                                    <a onclick="window.open('{% url "emergency_incident_dispatch_individual_parts_medium" am_model_instance.id %}', '_blank', 'location=yes,height=570,width=670,scrollbars=yes,status=yes');"
                                    class="btn btn-success" style="border-radius: 0px;"
                                    >Open Emergency In New Window</a>


                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<input type="text" name="request-user" id="request-user" value="{{ request.user.id }}" style="display: none;">


{% endblock %}

{% block js %}

<!-- post messages -->
<script>
    $('.button-send').click(function (e) {
        e.preventDefault();

        var msg = $('#msg').val();
        // ambulance incident id
        var am_id = JSON.parse("{{ am_id }}");
        // request.user id
        var user = $('#request-user').val();
        // endpoint
        var url = '/api/inbox/' + am_id + '/';

        backend_data = {
            'msg': msg,
            'sender': user,
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: backend_data,
            success: function (data) {
                $('#msg').val('');
                var first_name = data.sender.first_name;
                var last_name = data.sender.last_name;
                var image = data.sender.profile_pic;
                var msg = data.msg;
                var sent = new Date(data.sent);
                var sent = sent.toLocaleString("en-US", {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    hour12: true
                });

                var image_src = window.location.origin + image;
                var sender = data.sender.id;

                if (user == sender) {
                    $(".chat-log").append(
                        '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <span>' + msg + '</span> </div> </div> </div>'
                    );
                }

                // scrolling down after a message is received/send
                $(".chat-log").animate({
                    scrollTop: 20000000
                }, "slow");

                // update chat
                // UpdateChat(am_id, user, url);
            }
        })
    })
</script>

<!-- show messages to chat log -->
<script>
    function UpdateChat(am_id, user, url) {
        var am_id = am_id;
        var user = user;

        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $(".chat-log").empty();
                $.each(data, function (key, value) {
                    var first_name = value.sender.first_name;
                    var last_name = value.sender.last_name;
                    var image = value.sender.profile_pic;
                    var msg = value.msg;
                    var img = value.img;
                    var attachment = value.attachment;
                    var sent = new Date(value.sent);
                    var sent = sent.toLocaleString("en-US", {
                        day: '2-digit',
                        month: '2-digit',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                        hour12: true
                    });

                    var image_file = window.location.origin + img;
                    var attachment_file = window.location.origin + attachment;
                    var image_src = window.location.origin + image;
                    var sender = value.sender.id;

                    if(attachment == null){
                        attachment = ''
                    }

                    // if(image !== null){
                    //     var img_tag = $('<img src=' + image_file + ' height="100px" width="100px" alt="No Image">');
                    // }
                    // else{
                    //     var img_tag = '';
                    // }

                    // appending messages depending on various conditions
                    if (user == sender) {

                        if(msg != null){
                            if(image != null || attachment != null){
                                $(".chat-log").append(
                                    '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <span>' + msg + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt="No Image"></a> <br> <a href=' + attachment_file + '>' + attachment + '</a> </div> </div> </div>'
                                );
                            }

                            else{
                                $(".chat-log").append(
                                    '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <span>' + msg + '</span> </div> </div> </div>'
                                );
                            }
                            
                        }

                        else{
                            if(image != null && attachment == null){
                                $(".chat-log").append(
                                    '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt=""></a> </div> </div> </div>'
                                );
                            }

                            if (image == null && attachment != null) {
                                $(".chat-log").append(
                                    '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + attachment_file + '>'+ attachment +'</a> </div> </div> </div>'
                                );
                            }

                            if (image != null && attachment != null) {
                                $(".chat-log").append(
                                    '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="you mb-2"> <strong>You</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt=""></a> <a href=' + attachment_file + '>' + attachment + '</a> </div> </div> </div>'
                                );
                            }
                            
                            
                        }
                        
                    }

                    else {

                         if (msg != null) {
                             if (image != null || attachment != null) {
                                 $(".chat-log").append(
                                     '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="others mb-2"> <strong>' + first_name + '</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <span>' + msg + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt=""></a> <br> <a href=' + attachment_file + '>' + attachment + '</a> </div> </div> </div>'
                                 );
                             }

                             else {
                                 $(".chat-log").append(
                                     '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="others mb-2"> <strong>' + first_name + '</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <span>' + msg + '</span> </div> </div> </div>'
                                 );
                             }
                         }

                         else{

                             if (image != null && attachment == null) {
                                 $(".chat-log").append(
                                     '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="others mb-2"> <strong>' + first_name + '</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt=""></a> </div> </div> </div>'
                                 );
                             }

                             if (image == null && attachment != null) {
                                 $(".chat-log").append(
                                     '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="others mb-2"> <strong>' + first_name + '</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + attachment_file + '>' + attachment + '</a> </div> </div> </div>'
                                 );
                             }

                             if (image != null && attachment != null) {
                                 $(".chat-log").append(
                                     '<div class="d-flex"> <div> <img src=' + image_src + ' alt=""> </div> <div class="others mb-2"> <strong>' + first_name + '</strong> <div class="flex-texts"> <span>' + sent + '</span> <br> <a href=' + image_file + '><img src=' + image_file + ' height="100px" width="100px" alt=""></a> <a href=' + attachment_file + '>' + attachment + '</a> </div> </div> </div>'
                                 );
                             }

                         }
                        
                    }

                    // scrolling down after a message is received/send
                    $(".chat-log").animate({
                        scrollTop: 20000000
                    }, "slow");

                })
            }
        })
    }
</script>

<!-- reload messages -->
<script>
    $('#reload-msg').click(function () {
        var am_id = JSON.parse("{{ am_id }}");
        var user = $('#request-user').val();
        var url = '/api/inbox/' + am_id + '/';
        UpdateChat(am_id, user, url);
    })
</script>

<script>
    $('#images-btn').click(function(e){
        $('#images-inp').click();
        $('#images-inp').css("display", "block");
        $('#submit-attachments').css("display", "block");
    })

    $('#attachment-btn').click(function (e) {
        $('#attachment-inp').click();
        $('#attachment-inp').css("display", "block");
        $('#submit-attachments').css("display", "block");
    })
</script>

{% endblock %}