{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Tac-Pulse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
        #map {
            height: 90%;
        }
        
        html,
        body {
            background-color: url(static/assets/ma.jpg);
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px;
            cursor: pointer;
        }
        
        .custom-map-control-button:hover {
            background: #ebebeb;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input class="form-control mb-1" readonly type="number" value="{{lat}}" id="lat" style="display: none;">
                <input class="form-control" readonly type="number" value="{{lng}}" id="lng" style="display: none;">
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Panic Sender</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ first_name|title }}</td>
                            <td>{{ contact }}</td>
                            <td>{{ timestamp }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Reason</th>
                            <th scope="col">Place</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ reason }}</td>
                            <td>{{ place }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- map container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="height: 100vh;">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmk0JiD0QiKHxJsgv9_eWXucmCQWQX9G4&callback=initMap&libraries=&v=weekly" async></script>


    <!-- show reason -->
    <script>
        const button = document.getElementById('reason-btn');
        button.addEventListener('click', event => {
            const input_reason = document.getElementById('reason');
            if (input_reason.style.display === 'none') {
                input_reason.style.display = 'block';
            }
        });
    </script>


    <script>
        // dynamic lat,lng from database
        var data_lat = parseFloat(document.getElementById('lat').value);
        var data_lng = parseFloat(document.getElementById('lng').value);
        let map, infoWindow;

        function initMap() {
            const myLatLng = {
                lat: data_lat,
                lng: data_lng
            };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: myLatLng,
            });

            // panic sender
            infoWindow1 = new google.maps.InfoWindow();
            infoWindow1.setPosition(myLatLng);
            infoWindow1.setContent("Panic sender Location");
            infoWindow1.open(map);
            map.setCenter(myLatLng);

            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");
            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener('click', () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };

                            // current location
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("My Location");
                            infoWindow.open(map);
                            map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation ?
                "Error: The Geolocation service failed." :
                "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
    </script>

</html>