{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Tac-Pulse</title>
    <link rel="shortcut icon" href="{% static 'images\favicon.ico' %}" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }
        
        #infowindow-content .title {
            font-weight: bold;
        }
        
        #infowindow-content {
            display: none;
        }
        
        #map #infowindow-content {
            display: inline;
        }
        
        .pac-card {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            font-family: Roboto;
            padding: 0;
        }
        
        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }
        
        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }
        
        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
        
        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }
        
        #pac-input:focus {
            border-color: #4d90fe;
        }
        
        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="text-center">

                    <br /><br /> {%if messages%}
                    <div class="alert alert-success" id="alert">
                        {% for message in messages %}
                        <li id="list" {% if message.tags %} class=" {{ message.tags }} " style="list-style: none" {% endif %}>
                            {{message }}
                        </li>
                        {% endfor %}
                    </div>
                    <br /> {%endif%}

                </div>
                <div class="text-center shadow p-3 mb-3 bg-white rounded" id="parent-text-center" style="width: 80%; margin: auto;">
                    <div id="center">
                        <strong style="color:red">{{ panic }}</strong>
                    </div>
                    <form id="form" method="post" action="{% url 'panic_system' %}">
                        {% csrf_token %}
                        <textarea required name="reason" id="reason" class="form-control mb-1" style="resize: none;" placeholder="Reason for a panic request"></textarea>
                        <div class="form-group my-2">
                            <label for="">Is This Panic is for you?</label> {{ form.for_whome }}
                        </div>
                        <input type="text" name="emergency_contact" id="emergency_contact" class="form-control mb-1" placeholder="Emergency Contact">
                        <button type="button" class="btn btn-info my-2" id="profile_contact">Add My Profile Number Here <i class="fa fa-arrow-up"></i> </button>
                        <input readonly class="form-control mb-1" type="text" name="lat" id="lat" placeholder="Latitude" style="display: none;">
                        <input readonly class="form-control mb-1" type="text" name="lng" id="lng" placeholder="Longitude" style="display: none;">
                        <input readonly class="form-control mb-1" type="text" name="place" id="place" placeholder="place">
                        <button id="btn" type="submit" class="form-control btn btn-success">Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- map container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pac-card" id="pac-card">
                    <div>
                        <div id="title">Autocomplete search</div>
                        <div id="type-selector" class="pac-controls">
                            <input type="radio" name="type" id="changetype-all" checked="checked" />
                            <label for="changetype-all">All</label>

                            <input type="radio" name="type" id="changetype-establishment" />
                            <label for="changetype-establishment">establishment</label>

                            <input type="radio" name="type" id="changetype-address" />
                            <label for="changetype-address">address</label>

                            <input type="radio" name="type" id="changetype-geocode" />
                            <label for="changetype-geocode">geocode</label>

                            <input type="radio" name="type" id="changetype-cities" />
                            <label for="changetype-cities">(cities)</label>

                            <input type="radio" name="type" id="changetype-regions" />
                            <label for="changetype-regions">(regions)</label>
                        </div>
                        <br />
                        <div id="strict-bounds-selector" class="pac-controls">
                            <input type="checkbox" id="use-location-bias" value="" checked />
                            <label for="use-location-bias">Bias to map viewport</label>

                            <input type="checkbox" id="use-strict-bounds" value="" />
                            <label for="use-strict-bounds">Strict bounds</label>
                        </div>
                    </div>
                    <div id="pac-container">
                        <input id="pac-input" type="text" placeholder="Enter a location" />
                    </div>
                </div>
                <div style="height: 100vh; margin-bottom: 20px;">
                    <div id="map"></div>
                </div>
                <div id="infowindow-content">
                    <span id="place-name" class="title"></span><br />
                    <span id="place-address"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJBsTQEqHdW-LVk0ydR6b66909UgacdDg&callback=initMap&libraries=places&v=weekly" async></script>



    <script>
        addEventListener('load', () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };

                        // current location place name by fahad
                        var geocoder;
                        geocoder = new google.maps.Geocoder();
                        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        geocoder.geocode({
                                'latLng': latlng
                            },
                            function(results, status) {
                                if (status == google.maps.GeocoderStatus.OK) {
                                    if (results[0]) {
                                        var add = results[0].formatted_address;
                                        console.log(add)
                                        var value = add.split(",");

                                        count = value.length;
                                        country = value[count - 1];
                                        state = value[count - 2];
                                        city = value[count - 3];
                                        document.getElementById('place').value = city + ',' + state + ',' + country;
                                        swal("Your current loction has been added to the box")
                                    } else {
                                        swal("address not found");
                                    }
                                } else {
                                    swal("Geocoder failed due to: " + status);
                                }
                            }
                        );



                        for (var key in pos) {
                            if (key == 'lat') {
                                var value = pos[key];
                                console.log(value)
                                document.getElementById("lat").setAttribute('value', value);
                            } else if (key == 'lng') {
                                var value = pos[key];
                                console.log(value)
                                document.getElementById("lng").setAttribute('value', value);
                            }
                        }
                        // setting marker on map by zhf
                        new google.maps.Marker({
                            position: pos,
                            map,
                            title: "loacation found",
                        });
                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        });


        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: -30.797315632818425,
                    lng: 23.916847514262233
                },
                zoom: 5,
                mapTypeControl: false,
            });
            const card = document.getElementById("pac-card");
            const input = document.getElementById("pac-input");
            const biasInputElement = document.getElementById("use-location-bias");
            const strictBoundsInputElement = document.getElementById("use-strict-bounds");
            const options = {
                fields: ["formatted_address", "geometry", "name"],
                strictBounds: false,
                types: ["establishment"],
            };

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(card);

            const autocomplete = new google.maps.places.Autocomplete(input, options);

            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo("bounds", map);

            const infowindow = new google.maps.InfoWindow();
            const infowindowContent = document.getElementById("infowindow-content");

            infowindow.setContent(infowindowContent);

            const marker = new google.maps.Marker({
                map,
                anchorPoint: new google.maps.Point(0, -29),
            });

            autocomplete.addListener("place_changed", () => {
                infowindow.close();
                marker.setVisible(false);

                const place = autocomplete.getPlace();

                if (!place.geometry || !place.geometry.location) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);

                    // on search place name and lat lng by fahad
                    document.getElementById('place').value = place.name;
                    document.getElementById('lat').value = place.geometry.location.lat();
                    document.getElementById('lng').value = place.geometry.location.lng();
                    swal("Your searched Location has been added to the box.")

                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }



                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                infowindowContent.children["place-name"].textContent = place.name;
                infowindowContent.children["place-address"].textContent =
                    place.formatted_address;
                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                const radioButton = document.getElementById(id);

                radioButton.addEventListener("click", () => {
                    autocomplete.setTypes(types);
                    input.value = "";
                });
            }

            setupClickListener("changetype-all", []);
            setupClickListener("changetype-address", ["address"]);
            setupClickListener("changetype-establishment", ["establishment"]);
            setupClickListener("changetype-geocode", ["geocode"]);
            setupClickListener("changetype-cities", ["(cities)"]);
            setupClickListener("changetype-regions", ["(regions)"]);
            biasInputElement.addEventListener("change", () => {
                if (biasInputElement.checked) {
                    autocomplete.bindTo("bounds", map);
                } else {
                    // User wants to turn off location bias, so three things need to happen:
                    // 1. Unbind from map
                    // 2. Reset the bounds to whole world
                    // 3. Uncheck the strict bounds checkbox UI (which also disables strict bounds)
                    autocomplete.unbind("bounds");
                    autocomplete.setBounds({
                        east: 180,
                        west: -180,
                        north: 90,
                        south: -90
                    });
                    strictBoundsInputElement.checked = biasInputElement.checked;
                }

                input.value = "";
            });
            strictBoundsInputElement.addEventListener("change", () => {
                autocomplete.setOptions({
                    strictBounds: strictBoundsInputElement.checked,
                });
                if (strictBoundsInputElement.checked) {
                    biasInputElement.checked = strictBoundsInputElement.checked;
                    autocomplete.bindTo("bounds", map);
                }

                input.value = "";
            });
        }
    </script>

    <script>
        $('#profile_contact').click(function() {
            contact = " {{ request.user.contact }} "
            $('#emergency_contact').val(contact)
        })
    </script>
</body>

</html>