{% extends '../base.html' %} {% load static %} {% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for i in panic_requests %}
                    <div class="card card-custom m-auto" style="background-color: #1BC5BD; width: 75%;">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                   </span>
                                <h3 class="card-label" style="color: white;">
                                    {{ i.panic_sender.username|title }} has sent a panic request
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                {% if i.panic_sender.username %}
                                <a href="{% url 'check_panic_requests_location' i.panic_sender.id %}" class="btn btn-sm btn-light-primary font-weight-bold">
                                    <i class="fa fa-map"></i>Location
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br> {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}