{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
    select {
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }

    input {
        padding: 5px !important;
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }

    textarea {
        padding: 16px 20px !important;
        border: none !important;
        border-radius: 4px !important;
        background-color: #f1f1f1 !important;
    }
</style>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="display table" id="unit_table">
                            <thead>
                                <th>Unit Name</th>
                                <th>Assigned Paramedic</th>
                                <th>Paramedic Contact</th>
                            </thead>
                            <tbody>
                                {% for i in units %}
                                    <tr>
                                        <td>{{ i.uni_name }}</td>
                                        <td>
                                            <a href="{% url 'profile' i.paramedics.id %}">{{ i.paramedics.username }}</a>
                                        </td>
                                        <td>{{ i.paramedics.contact }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}