{% extends '../base.html' %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<style>
    .form-group {
        width: 90%;
        margin: auto;
    }
    
    .required:after {
        content: " *";
        color: red;
    }
</style>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                {{ form.errors }}
                <form method="post" action="{% url 'property_add' %}" class="form" id="kt_form">
                    {% csrf_token %}
                    <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Property Form</h3>
                            </div>
                            <div class="card-toolbar">
                                <button type="submit" class="btn btn-primary font-weight-bolder">
                                    <i class="ki ki-check icon-xs"></i>Save Form</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="name_auditor">Property Type</label> {{ form.property_type }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Customer Name(if selling process)</label> {{ form.to_user }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Customer Contact(if selling process)</label> {{ form.to_user_mobile }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Equipment</label> {{ form.equipement_name }}
                        </div>

                        <div class="form-group">
                            <label for="name_auditor">Manufacturer</label> {{ form.manufacturer }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Model(Optional)</label> {{ form.model }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Quantity</label> {{ form.quantity }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor">Price</label> {{ form.price }}
                        </div>
                        <div class="form-group">
                            <label for="name_auditor" class="required">Vat%</label> {{ form.vat }}
                        </div>

                        <div class="form-group">
                            <label for="name_auditor">Condition</label> {{ form.condition }}
                        </div>

                        <div class="form-group">
                            <label for="name_auditor" class="required">Status</label> {{ form.status }}
                        </div>

                        <div class="form-group">
                            <label for="name_auditor">Due Date(if Status is Due)</label> {{ form.due_date }}
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}