{% extends '../base.html' %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
</style>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="
        container
        d-flex
        align-items-center
        justify-content-between
        flex-wrap flex-sm-nowrap
      ">
            <!--begin::Info-->
            <div class="d-flex align-items-center mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h2 class="
              d-flex
              align-items-center
              text-dark
              font-weight-bold
              my-1
              mr-3
            ">
                    </h2>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="
              breadcrumb breadcrumb-transparent breadcrumb-dot
              font-weight-bold
              my-2
              p-0
            ">
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center flex-wrap">
                <!--begin::Button-->
                <a href="{% url 'register' %}" class="
            btn
            button-color
            btn-fixed-height
            font-weight-bold
            px-2 px-lg-5
            mr-2
          ">
                    <span class="svg-icon svg-icon-lg">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path
                                    d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path
                                    d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                                    fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                    <span class="d-none d-md-inline">New Member</span>
                </a>
                <!--end::Button-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Row-->
            <div class="row">
                {{ form.errors }}
                <!-- body that will take incoming dragged fields -->
                <div class="col-lg-6">
                <!-- to submit form from dropped area -->
                <form method="post" action="{% url 'property_add' %}" class="draggable-zone">
                            {% csrf_token %}
                            Drop into that box
                    <div class="card draggable-zone" style="width: 100%; height: 100%;">
                            <div class="card-body draggable-zone" id="tobedropped">

                            </div>
                    </div>
                </div>
                <!-- end  -->

                <!-- draggable fields by fahad -->
                <!-- form fields -->
                <div class="col-lg-6 draggable-zone">
                    <div class="draggable">
                        <label class="draggable-handle required" >Property Type</label>
                        <div name="area1" class="draggable-handle" id="p">{{ form.property_type }}</div>
                    </div>

                    <div class="draggable" style="display: none">
                        <label class="draggable-handle" >Related User</label>
                        <div name="area2" class="draggable-handle">
                            {{ form.user }}
                        </div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle" >Customer Name(if selling process)</label>
                        <div name="area2" class="draggable-handle">
                            {{ form.to_user }}
                        </div>
                    </div>


                     <div class="draggable">
                        <label class="draggable-handle" >Customer Contact(if selling process)</label>
                        <div name="area2" class="draggable-handle">
                            {{ form.to_user_mobile }}
                        </div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required" >Equipment</label>
                        <div name="area3" class="draggable-handle" id="e">
                            {{ form.equipement_name }}
                        </div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required">Manufacturer</label>
                        <div class="draggable-handle" id="m">{{ form.manufacturer }}</div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required">Model(Optional)</label>
                        <div class="draggable-handle" id="mdl">{{ form.model }}</div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required">Quantity</label>
                        <div class="draggable-handle" id="q">{{ form.quantity }}</div>
                    </div>

                    <div class="draggable">
                        <label class="draggable-handle required"  >Price</label>
                        <div class="draggable-handle" id="pr">{{ form.price }}</div>
                    </div>

                    <div class="draggable">
                        <label class="draggable-handle">Vat%</label>
                        <div class="draggable-handle" id="vat">{{ form.vat }}</div>
                    </div>

                    <div class="draggable" style="display: none">
                        <label class="draggable-handle required"  >Total Price</label>
                        <div class="draggable-handle" >{{ form.total }}</div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required" >Condition</label>
                        <div class="draggable-handle" id="c">{{ form.condition }}</div>
                    </div>


                    <div class="draggable">
                        <label class="draggable-handle required" >Status</label>
                        <div class="draggable-handle" id="s">{{ form.status }}</div>
                    </div>

                    <div class="draggable">
                        <label class="draggable-handle required" >Due Date(if Status is Due)</label>
                        <div class="draggable-handle" >{{ form.due_date }}</div>
                    </div> <br>

                    <button type="submit" id="to-be-clicked" class="btn btn-success">Save</button>
                    </form>
                    <!-- form ends -->
                </div>
                <!-- fields end draggable -->
            </div>
            <!--end:: Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<script>
    m = document.getElementById('m')
    p = document.getElementById('p')
    e = document.getElementById('e')
    mdl = document.getElementById('mdl')
    q = document.getElementById('q')
    c = document.getElementById('c')
    s = document.getElementById('s')
    pr = document.getElementById('pr')

    pr.addEventListener('click', event => {
        pr.focus();
        pr.select();
        $("#pr").focus();
    })


    m.addEventListener('click', event => {
        m.focus();
        m.select();
        $("#m").focus();
    })

    p.addEventListener('click', event => {
        p.focus();
        p.select();
        $("#p").focus();
    })

    e.addEventListener('click', event => {
        e.focus();
        e.select();
        $("#e").focus();
    })

    mdl.addEventListener('click', event => {
        mdl.focus();
        mdl.select();
        $("#mdl").focus();
    })

    q.addEventListener('click', event => {
        q.focus();
        q.select();
        $("#q").focus();
    })
    s.addEventListener('click', event => {
        s.focus();
        s.select();
        $("#s").focus();
    })
    c.addEventListener('click', event => {
        c.focus();
        c.select();
        $("#c").focus();
    })
</script>
{% endblock %}