{% extends '../base.html' %} {% load static %} {% block content %}

<style>
    .form-group {
        width: 100%;
        margin: auto;
    }
    
    #input {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
</style>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">

            <form method="post" class="form" id="kt_form">
                <div class="col-md-12">
                    {% csrf_token %}
                    <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Stock Request</h3>
                            </div>
                            <div class="card-toolbar">
                                <button type="submit" class="btn btn-primary font-weight-bolder">
                                    <i class="ki ki-check icon-xs"></i>Save Form</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group card card-custom">
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group card card-custom">
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <input class="form-control" placeholder="Demo Flied 1" type="text" name="" id="input"> <br>
                        <select class="form-control" id="input">
                        <option class="form-control">. . . . . . .</option>
                        <option class="form-control">Select2</option>
                    </select>
                        <br>
                    </div>
            </form>

            </div>
        </div>
    </div>

    {% endblock %}